:root {
  --spacing-half: 2px;
  --spacing-1: 4px;
  --spacing-1-and-half: 6px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-card-top-default: 12px;
  --spacing-card-top-small: 8px;
  --sticky-header-stack: 10;
  --betslip-stack: 26;
  --messaging-stack: 20;
  --betslip-boost-counter-stack: 22;
  --betslip-collapsed-stack: 14;
  --bottom-bar-stack: 15;
  --bottom-bar-new-label-stack: 16;
  --header-stack: 25;
  --desktop-header-stack: 26;
  --overlay-stack: 30;
  --bottom-sheet-stack: 33;
  --modal-stack: 35;
  --loyalty-messaging-stack: 40;
  --gutter-1: 1px;
  --gutter-2: 2px;
  --badge-game-info-height: 50px;
  --badge-game-info-width: 215px;
  --bet-button-height: 48px;
  --bet-button-width: 48px;
  --button-height: 44px;
  --betslip-top-offset: 12px;
  --betslip-collapsed-height: 40px;
  --bottom-bar-height: 56px;
  --card-width-percentage: 0.92px;
  --title-section-height: 40px;
  --crest-img-big: 44px;
  --crest-img-small: 24px;
  --expandable-handle-height: 40px;
  --fixture-icon-default-size: 14px;
  --fixture-icon-small-size: 12px;
  --football-lineup-player-icon-height: 12px;
  --football-lineup-player-icon-width: 12px;
  --football-lineup-player-incidents-height: 16px;
  --football-lineup-player-number-width: 15px;
  --football-lineup-player-width: 175px;
  --gaming-card-size: 144px;
  --ims-game-card-size: 120px;
  --inline-keyboard: 92px;
  --game-info-scroll-padding: 80px;
  --gaming-link-card-min-height-with-icon: 92px;
  --ssc-desktop-header-placeholder-height: 85px;
  --header-height: 56px;
  --icon-race-time-size-small: 12px;
  --icon-size-small: 16px;
  --icon-size: 20px;
  --icon-size-large: 24px;
  --coupon-list-icon-size: 44px;
  --jackpot-logo: 40px;
  --jackpot-logo-game-info-width: 96px;
  --jackpot-logo-game-info-height: 80px;
  --jackpot-logo-game-info-top: 20px;
  --custom-logo-game-info-height: 60px;
  --meeting-header-flag-height: 16px;
  --scrollable-swimlane-min-height: 94px;
  --scrollable-swimlane-title-min-height: 24px;
  --recent-form-icon-height: 28px;
  --recent-races-show-button-height: 40px;
  --recent-races-race-info-header-height: 38px;
  --recent-races-cell-width: 60px;
  --recent-races-cell-min-width: 40px;
  --results-table-position-size: 20px;
  --supporting-content-preview-height: 88px;
  --kick-size: 12px;
  --market-status-indicator-height: 16px;
  --market-status-container-height: 32px;
  --mini-promo-card-height: 40px;
  --mini-promo-card-container-height: 32px;
  --pebble-check-size: 16px;
  --promo-bookmark-width: 84px;
  --promo-bookmark-height: 24px;
  --promo-bookmark-margin-top: -4px;
  --promo-card-width-percentage: 0.88px;
  --promotion-card-height: 134px;
  --promo-card-height: 204px;
  --promo-content-max-width: 192px;
  --promo-terms-and-conditions-min-width: 136px;
  --promo-action-max-width: 155px;
  --promo-odds-boost-tag-height: 18px;
  --quicklink-in-grid-height: 48px;
  --territory-block-size: 80px;
  --territory-block-image-padding: 40px;
  --territory-block-info-padding: 44px;
  --tracking-bar-height: 18px;
  --score-square-default-size: 28px;
  --score-square-small-size: 24px;
  --score-square-coupon-size: 16px;
  --forbidden-content-card-small-height: 102px;
  --forbidden-content-card-default-height: 286px;
  --badge-label-tail: 11px;
  --inline-market-max-width: 150px;
  --inline-market-small-max-width: 101px;
  --freebets-toggle: 32px;
  --selectable-items-button-min-height: 32px;
  --state-indicator-spinner: 90px;
  --regulatory-header-image-height: 28px;
  --viewport-current-height: 1px;
  --dropdown-max-height: 442px;
  --swimlane-item-container-max-width: 327px;
  --swimlane-item-container-width-percentage: 0.87px;
  --gaming-card-small-desktop-size: 190px;
  --gaming-card-desktop-size: 210px;
  --gaming-round-card-small-desktop-size: 104px;
  --gaming-round-card-medium-desktop-size: 126px;
  --gaming-round-card-large-desktop-size: 168px;
  --logo-product-margin-left: 22px;
  --desktop-max-width: 1440px;
  --text-size-1: 0.25rem;
  --text-size-2: 0.5625rem;
  --text-size-3: 0.625rem;
  --text-size-4: 0.75rem;
  --text-size-5: 0.8125rem;
  --text-size-6: 0.875rem;
  --text-size-7: 1rem;
  --text-size-8: 1.125rem;
  --text-size-9: 1.25rem;
  --text-size-10: 1.5rem;
  --letter-spacing-0: 0rem;
  --letter-spacing-1: -0.03rem;
  --line-height-1: 0.375rem;
  --line-height-2: 0.75rem;
  --line-height-3: 1rem;
  --line-height-4: 1.25rem;
  --line-height-5: 1.5rem;
  --line-height-6: 1.75rem;
  --line-height-7: 2rem;
  --text-weight-regular: 400;
  --text-weight-bold: bold;
  --none: none;
  --uppercase: uppercase;
  --line-through: line-through
}