<html lang="en">
<head data-theme="light">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Betfair Component Library | {{ title }}</title>
  <meta name="theme-color" content="#FFB80C">
  <link rel="shortcut icon" href="//betting.cdnppb.net/assets/img/app-icons/favicon.48c75ff3.ico">
  <link rel="apple-touch-icon" sizes="76x76" href="//betting.cdnppb.net/assets/img/app-icons/76.e36ed531.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//betting.cdnppb.net/assets/img/app-icons/120.1707d80f.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//betting.cdnppb.net/assets/img/app-icons/152.1efc8962.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//betting.cdnppb.net/assets/img/app-icons/180.2a19f720.png">
  <link rel="stylesheet" href="{{ '/css/light.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/dark.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ '/scripts/colour-theme.js' | url }}"></script>
  <script src="{{ '/scripts/main-nav.js' | url }}"></script>
  <script src="{{ '/scripts/accordion.js' | url }}"></script>
  <script src="{{ '/scripts/show-more.js' | url }}"></script>
  <script src="{{ '/scripts/bottom-sheet.js' | url }}"></script>
</head>
<body>
  <header class="doc_header">
    <h1 class="typography-h380">Betfair Component Library</h1>
    <div class="doc_header__menu_toggle" onclick="toggleNav()">
      {% include "svg/menu.svg" %}
    </div>
  </header>

  <div class="doc_layout">
    <nav class="doc_layout__nav">
      <ul class="menu_list menu_list--alt">
        <li class="{% if title == 'Base Typography' %}active{% endif %}">
          <a href="/">
            Base Typography
            {% include "svg/arrow-right.svg" %}
          </a>
        </li>
      </ul>

      <div class="accordion {% if tags.last == 'navigation' %}accordion--show{% endif %}">
        <header class="accordion__title" onclick="toggleAccordion(this)">
          <h1>Navigation Compontents</h1>
          {% include "svg/accordion.svg" %}
        </header>
        <div class="accordion__content">
          <ul class="menu_list menu_list--ruled">
          {% for component in collections.navigation %}
            <li class="{% if title == component.data.title %}active{% endif %}">
              <a href="{{ component.url }}">
                {{ component.data.title }}
                {% include "svg/arrow-right.svg" %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="accordion {% if tags.last == 'content' %}accordion--show{% endif %}">
        <header class="accordion__title" onclick="toggleAccordion(this)">
          <h1>Content Components</h1>
          {% include "svg/accordion.svg" %}
        </header>
        <div class="accordion__content">
          <ul class="menu_list menu_list--ruled">
          {% for component in collections.content %}
            <li class="{% if title == component.data.title %}active{% endif %}">
              <a href="{{ component.url }}">
                {{ component.data.title }}
                {% include "svg/arrow-right.svg" %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="accordion {% if tags.last == 'article' %}accordion--show{% endif %}">
        <header class="accordion__title" onclick="toggleAccordion(this)">
          <h1>Article Components</h1>
          {% include "svg/accordion.svg" %}
        </header>
        <div class="accordion__content">
          <ul class="menu_list menu_list--ruled">
          {% for component in collections.article %}
            <li class="{% if title == component.data.title %}active{% endif %}">
              <a href="{{ component.url }}">
                {{ component.data.title }}
                {% include "svg/arrow-right.svg" %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="accordion {% if tags.last == 'layout' %}accordion--show{% endif %}">
        <header class="accordion__title" onclick="toggleAccordion(this)">
          <h1>Layout Components</h1>
          {% include "svg/accordion.svg" %}
        </header>
        <div class="accordion__content">
          <ul class="menu_list menu_list--ruled">
          {% for component in collections.layout %}
            <li class="{% if title == component.data.title %}active{% endif %}">
              <a href="{{ component.url }}">
                {{ component.data.title }}
                {% include "svg/arrow-right.svg" %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="accordion {% if tags.last == 'football-stats' %}accordion--show{% endif %}">
        <header class="accordion__title" onclick="toggleAccordion(this)">
          <h1>Football Stats Components</h1>
          {% include "svg/accordion.svg" %}
        </header>
        <div class="accordion__content">
          <ul class="menu_list menu_list--ruled">
          {% for component in collections.football-stats %}
            <li class="{% if title == component.data.title %}active{% endif %}">
              <a href="{{ component.url }}">
                {{ component.data.title }}
                {% include "svg/arrow-right.svg" %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="accordion {% if tags.last == 'racing-data' %}accordion--show{% endif %}">
        <header class="accordion__title" onclick="toggleAccordion(this)">
          <h1>Racing Data Components</h1>
          {% include "svg/accordion.svg" %}
        </header>
        <div class="accordion__content">
          <ul class="menu_list menu_list--ruled">
          {% for component in collections.racing-data %}
            <li class="{% if title == component.data.title %}active{% endif %}">
              <a href="{{ component.url }}">
                {{ component.data.title }}
                {% include "svg/arrow-right.svg" %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <main class="doc_layout__main">
      <h1>{{ title }}</h1>
      {{ content }}
      <div class="theme_toggle">
        <button type="button" data-theme-toggle aria-label="Change to light theme">Change to light theme</button>
      </div>
    </main>
    <footer>
      <p class="typography-h180">&copy; Betfair 2024</p>
    </footer>
  </div>
</body>
</html>