---
title: Bet Builder and Acca
date: 2024-01-17
tags: content
---

<h3>Football</h3>

<div class="acca">
  <div class="acca__header">
    <h3 class="match_preview_date">27 Nov 2023</h3>
    <div class="match_preview">
      <span class="match_preview__home_team">Nottm Forest</span>
      <span class="match_preview__away_versus">&ndash;</span>
      <span class="match_preview__away_team">Liverpool</span>
    </div>
  </div>
  <div class="acca__selections">
    <ul>
      <li><strong>Mohamed Salah</strong> - Player To Score</li>
      <li><strong>Chris Wood</strong> - Player Shots on Target 1 or More</li>
      <li><strong>Trent Alexander-Arnold</strong> - Player Anytime Assist</li>
      <li><strong>Morgan Gibbs-White</strong> - To Score Or Assist</li>
    </ul>
    <a style="margin-block-start: 1rem;" class="price_button" href="#">Add to Betslip at 21/1</a>
  </div>
</div>

<h3>Racing</h3>

<div class="acca">
  <div class="acca__header">
    <h4 class="typography-h280">Fav Multi</h4>
  </div>
  <div class="acca__selections">
    <ul>
      <li>
        <strong>Shes The Duchess</strong> <strong style="float: right;">4/7</strong><br>
        Win • 17:15 Newcastle • 7f Mdn Stks<br>
        <em>J: Billy Loughnane • T: George Boughey</em>
      </li>
      <li>
        <strong>Tasever</strong> <strong style="float: right;">9/5</strong>
        <br>Win • 18:15 Newcastle • 1m Hca
        <br><em>J: Ryan Kavanagh • T: Patrick Morris</em>
      </li>
      <li>
        <strong>Tomorrow Day</strong> <strong style="float: right;">8/11</strong>
        <br>Win • 18:45 Newcastle • 6f Hcap
        <br><em>J: Paul Mulrennan • T: Mark Usher</em>
      </li>
    </ul>
    <a style="margin-block-start: 1rem;" class="price_button" href="#">Add to Betslip at 13/2</a>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Football -->
<div class="acca">
  <div class="acca__header">
    <h3 class="match_preview_date">27 Nov 2023</h3>
    <div class="match_preview">
      <span class="match_preview__home_team">Nottm Forest</span>
      <span class="match_preview__away_versus">&ndash;</span>
      <span class="match_preview__away_team">Liverpool</span>
    </div>
  </div>
  <div class="acca__selections">
    <ul>
      <li><strong>Mohamed Salah</strong> - Player To Score</li>
      <li><strong>Chris Wood</strong> - Player Shots on Target 1 or More</li>
      <li><strong>Trent Alexander-Arnold</strong> - Player Anytime Assist</li>
      <li><strong>Morgan Gibbs-White</strong> - To Score Or Assist</li>
    </ul>
    <a style="margin-block-start: 1rem;" class="price_button" href="#">Add to Betslip at 21/1</a>
  </div>
</div>

<!-- Racing -->
<div class="acca">
  <div class="acca__header">
    <h4 class="typography-h280">Fav Multi</h4>
  </div>
  <div class="acca__selections">
    <ul>
      <li>
        <strong>Shes The Duchess</strong> <strong style="float: right;">4/7</strong><br>
        Win • 17:15 Newcastle • 7f Mdn Stks<br>
        <em>J: Billy Loughnane • T: George Boughey</em>
      </li>
      <li>
        <strong>Tasever</strong> <strong style="float: right;">9/5</strong>
        <br>Win • 18:15 Newcastle • 1m Hca
        <br><em>J: Ryan Kavanagh • T: Patrick Morris</em>
      </li>
      <li>
        <strong>Tomorrow Day</strong> <strong style="float: right;">8/11</strong>
        <br>Win • 18:45 Newcastle • 6f Hcap
        <br><em>J: Paul Mulrennan • T: Mark Usher</em>
      </li>
    </ul>
    <a style="margin-block-start: 1rem;" class="price_button" href="#">Add to Betslip at 13/2</a>
  </div>
</div>
{% endhighlight %}