---
title: Accordion
date: 2024-01-03
tags: content
---

<h3>Component Demo</h3>

<div class="accordion">
  <header class="accordion__title" onclick="toggleAccordion(this)">
    <h3>Title</h3>
    {% include "svg/accordion.svg" %}
  </header>
  <div class="accordion__content">
    <ul class="menu_list menu_list--ruled">
      <li>
        <a href="#">
          Navigation Item
          {% include "svg/arrow-right.svg" %}
        </a>
      </li>
      <li>
        <a href="#">
          Navigation Item
          {% include "svg/arrow-right.svg" %}
        </a>
      </li>
      <li>
        <a href="#">
          Navigation Item
          {% include "svg/arrow-right.svg" %}
        </a>
      </li>
      <li>
        <a href="#">
          Navigation Item
          {% include "svg/arrow-right.svg" %}
        </a>
      </li>
    </ul>
  </div>
</div>

<h3>Example HTML</h3>

{% highlight html %}
<div class="accordion">
  <header class="accordion__title" onclick="toggleAccordion(this)">
    <h3>Title</h3>
    {% include "svg/accordion.svg" %}
  </header>
  <div class="accordion__content">
    <!-- content goes here -->
  </div>
</div>
{% endhighlight %}