---
title: Article Featured Image
date: 2024-01-02
tags: article
---

<h3>Default</h3>

<figure class="article_featured_image">
  <img src="https://placehold.co/728x410?text=Featured+Image" 
       srcset="https://placehold.co/450x253?text=Featured+Image 450w,
               https://placehold.co/600x338?text=Featured+Image 600w,
               https://placehold.co/728x410?text=Featured+Image 728w" 
       alt="Daryl Carter has two bets in the 14:45 at Aintree plus his antepost pick at Newcastle">
  <figcaption>Daryl Carter has two bets in the 14:45 at Aintree plus his antepost pick at Newcastle</figcaption>
</figure>

<h3>Example HTML</h3>
{% highlight html %}
<figure class="article_featured_image">
  <img src="https://placehold.co/728x410?text=Featured+Image" 
       srcset="https://placehold.co/450x253?text=Featured+Image 450w,
               https://placehold.co/600x338?text=Featured+Image 600w,
               https://placehold.co/728x410?text=Featured+Image 728w" 
       alt="Daryl Carter has two bets in the 14:45 at Aintree plus his antepost pick at Newcastle">
  <figcaption>Daryl Carter has two bets in the 14:45 at Aintree plus his antepost pick at Newcastle</figcaption>
</figure>
{% endhighlight %}
