---
title: Article Summary
date: 2024-01-03
tags: article
---

<h3>Default</h3>

<div class="article_summary">
  <ul>
    <li>Daryl’s views on Saturday’s ITC races</li>
    <li>Frefo Banbou will be prime for Grand Sefton, Frefo Banbou will be prime for Grand Sefton</li>
    <li>Percussion might prove difficult to beat too</li>
  </ul>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="article_summary">
  <ul>
    <li>Daryl’s views on Saturday’s ITC races</li>
    <li>Frefo Banbou will be prime for Grand Sefton</li>
    <li>Percussion might prove difficult to beat too</li>
  </ul>
</div>
{% endhighlight %}
