---
title: Article Header
date: 2024-01-01
tags: article
---

<h3>Default</h3>

<div class="article_header">
  <span class="article_header__tag">
    <a href="">Article Tag</a>
  </span>
  <h1 class="article_header__title">Daryl Carter says Gaelic Warrior is a future Gold Cup horse</h1>
  <ul class="article_header__meta">
    <li><a href="#">Daryl Carter</a></li>
    <li>10 November 2023, 13:57</li>
    <li>0:00 Min read</li>
  </ul>
  <ul class="share_options">
    <li><a href="">{% include 'inc/rebuild_2024/icons/twitter.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/facebook.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/reddit.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/whatsapp.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/telegram.svg' %}</a></li>
  </ul>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="article_header">
  <span class="article_header__tag">
    <a href="">Article Tag</a>
  </span>
  <h1 class="article_header__title">Daryl Carter says Gaelic Warrior is a future Gold Cup horse</h1>
  <ul class="article_header__meta">
    <li>Daryl Carter</li>
    <li>10 November 2023, 13:57</li>
    <li>0:00 Min read</li>
  </ul>
  <ul class="share_options">
    <li><a href="">{% include 'inc/rebuild_2024/icons/twitter.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/facebook.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/reddit.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/whatsapp.svg' %}</a></li>
    <li><a href="">{% include 'inc/rebuild_2024/icons/telegram.svg' %}</a></li>
  </ul>
</div>
{% endhighlight %}
