---
title: Audio Embed
date: 2024-01-03
tags: content
---

<h3>Default</h3>

<div class="card audio_embed">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4CQaG4yE9mrqyT8kNSiQHb?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Default -->
<div class="card audio_embed">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4CQaG4yE9mrqyT8kNSiQHb?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
{% endhighlight %}