---
title: Author Card
date: 2024-01-11
tags: content
---

<h3>Default</h3>
<div class="author_card">
  <figure class="author_card__image">
    <img src="https://placehold.co/600x400?text=Author+Image" alt="">
  </figure>
  <div class="author_card__text">
    <h2 class="typography-h280">Daryl Carter</h2>
    <small class="typography-h092">STAR WRITER</small>
    <p class="typography-h220">Daryl Carter is a two-time winner of the Smart Betting Club’s Best Free Horse Racing Tipster of the Year award. A professional punter who specialises in horse racing, you can read his tipping columns exclusively here, on Betting.Betfair.com.</p>
    <a class="more" href="#">Read More Daryl Carter</a>
  </div>
</div>

<h3>Mini</h3>
<div class="card" style="--gap: 0.75rem;">
  <div class="author_card_mini">
    <figure class="author_card_mini__image">
      <img src="https://placehold.co/600x400?text=Author+Image" alt="">
    </figure>
    <div class="author_card_mini__text">
      <h2 class="typography-h280"><a href="#">Daryl Carter</a></h2>
    </div>
  </div>
</div>

<div class="card" style="--gap: 0.75rem;">
  <div class="author_card_mini">
    <figure class="author_card_mini__image">
      <img src="https://placehold.co/600x400?text=Author+Image" alt="">
    </figure>
    <div class="author_card_mini__text">
      <h2 class="typography-h280"><a href="#">Daryl Carter</a></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laboriosam nostrum delectus consequatur! Animi obcaecati quo voluptas. Harum incidunt et modi dolore laudantium quaerat qui fugit. Incidunt reprehenderit porro nobis!</p>
      <ul class="share_options">
        <li><a href="">{% include 'inc/rebuild_2024/icons/twitter.svg' %}</a></li>
        <li><a href="">{% include 'inc/rebuild_2024/icons/facebook.svg' %}</a></li>
      </ul>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Default -->
<div class="author_card">
  <figure class="author_card__image">
    <img src="https://placehold.co/600x400?text=Author+Image" alt="">
  </figure>
  <div class="author_card__text">
    <h2 class="typography-h280">Daryl Carter</h2>
    <small class="typography-h092">STAR WRITER</small>
    <p class="typography-h220">Daryl Carter is a two-time winner of the Smart Betting Club’s Best Free Horse Racing Tipster of the Year award. A professional punter who specialises in horse racing, you can read his tipping columns exclusively here, on Betting.Betfair.com.</p>
    <a class="more" href="#">Read More Daryl Carter</a>
  </div>
</div>

<!-- Mini -->
<div class="card" style="--gap: 0.75rem;">
  <div class="author_card_mini">
    <figure class="author_card_mini__image">
      <img src="https://placehold.co/600x400?text=Author+Image" alt="">
    </figure>
    <div class="author_card_mini__text">
      <h2 class="typography-h280"><a href="#">Daryl Carter</a></h2>
    </div>
  </div>
</div>

<div class="card" style="--gap: 0.75rem;">
  <div class="author_card_mini">
    <figure class="author_card_mini__image">
      <img src="https://placehold.co/600x400?text=Author+Image" alt="">
    </figure>
    <div class="author_card_mini__text">
      <h2 class="typography-h280"><a href="#">Daryl Carter</a></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laboriosam nostrum delectus consequatur! Animi obcaecati quo voluptas. Harum incidunt et modi dolore laudantium quaerat qui fugit. Incidunt reprehenderit porro nobis!</p>
      <ul class="share_options">
        <li><a href="">{% include 'inc/rebuild_2024/icons/twitter.svg' %}</a></li>
        <li><a href="">{% include 'inc/rebuild_2024/icons/facebook.svg' %}</a></li>
      </ul>
    </div>
  </div>
</div>
{% endhighlight %}
