---
title: Betting Copy
date: 2024-01-05
tags: article
---

<h3>Default</h3>

<p>Similar to an article card but with more controlled typography.</p>

<div class="betting_copy">
  <h2>Heading Level 2</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nihil, optio eveniet reprehenderit, officiis dolorem praesentium id labore ab sunt eius laboriosam nemo. Ut enim nesciunt pariatur cupiditate reiciendis amet.</p>
  <h3>Heading level 3</h3>
  <p>Ea quia aspernatur ratione error quod incidunt iure eaque amet officiis neque. Accusantium, odio. Eaque ullam provident quibusdam. Ut itaque repellat earum.</p>
  <h4>Heading level 4</h4>
  <p>Ea quia aspernatur ratione error quod incidunt iure eaque amet officiis neque. Accusantium, odio. Eaque ullam provident quibusdam. Ut itaque repellat earum.</p>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="betting_copy">
  <!-- Content -->
</div>
{% endhighlight %}
