---
title: Bottom Sheet
date: 2024-01-11
tags: navigation
---

<h3>Default</h3>

<div class="bottom_sheet">
  <h3 class="typography-h480 bottom_sheet__toggle" onclick="toggleBottomSheet(this)">Title content here {% include 'inc/rebuild_2024/icons/accordion.svg' %}</h3>
  <div class="bottom_sheet__slideout">
    <div>
      <h4 class="typography-h280">Bottom Sheet title</h4>
      <span class="close" onclick="toggleBottomSheet(this)"></span>
    </div>
    <ul class="menu_list menu_list--ruled">
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/football.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/horse-racing.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/golf.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
        <ul class="menu_list">
          <li>
            <a href="#">
              Navigation Item
            </a>
          </li>
          <li>
            <a href="#">
              Navigation Item
            </a>
          </li>
          <li>
            <a href="#">
              Navigation Item
            </a>
          </li>
          <li>
            <a href="#">
              Navigation Item
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/cricket.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
    </ul>
  </div>
</div>

<h3>Example HTML</h3>

{% highlight html %}
<div class="bottom_sheet">
  <h3 class="typography-h480 bottom_sheet__toggle" onclick="toggleBottomSheet(this)">Title content here {% include 'inc/rebuild_2024/icons/accordion.svg' %}</h3>
  <div class="bottom_sheet__slideout">
    <div>
      <h4 class="typography-h280">Bottom Sheet title</h4>
      <span class="close" onclick="toggleBottomSheet(this)"></span>
    </div>
    <ul class="menu_list menu_list--ruled">
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/football.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/horse-racing.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/golf.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
      <li>
        <a href="#">
          {% include 'inc/rebuild_2024/icons/cricket.svg' %}
          Navigation Item
          {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
        </a>
      </li>
    </ul>
  </div>
</div>
{% endhighlight %}