---
title: Breadcrumbs
date: 2024-01-02
tags: navigation
---

<h3>Default</h3>

<nav class="breadcrumb_navigation" aria-label="breadcrumbs">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="#">Football</a></li>
    <li><a href="#">Dimitar Berbatov</a></li>
    <li aria-current="page">There's no excuse for Marcus Rashford's poor discipline</li>
  </ol>
</nav>

<h3>Example HTML</h3>

{% highlight html %}
<nav class="breadcrumb_navigation" aria-label="breadcrumbs">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="#">Football</a></li>
    <li><a href="#">Dimitar Berbatov</a></li>
    <li aria-current="page">There's no excuse for Marcus Rashford's poor discipline</li>
  </ol>
</nav>
{% endhighlight %}