---
title: Card Grids
date: 2024-01-05
---

<h3>Default</h3>

<div class="card_grid">
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
      <div class="entry_summary__text">
        <a href="#" class="category">Racing tips</a>
        <h2 class="title"><a href="#">Dundalk duo look a solid pair for a Wednesday 50/1 double and this title is a lot longer than the others</a></h2>
        <ul class="meta">
          <li>Tony Calvin</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
      <div class="entry_summary__text">
        <a href="#" class="category">English Premier League</a>
        <h2 class="title"><a href="#"">Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
        <ul class="meta">
          <li>Alexander Boyes</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
      <div class="entry_summary__text">
        <a href="#" class="category">English Premier League</a>
        <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
        <ul class="meta">
          <li>Alexander Boyes</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
      <div class="entry_summary__text">
        <a href="#" class="category">English Premier League</a>
        <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
        <ul class="meta">
          <li>Alexander Boyes</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="card_grid">
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <!-- Entry Summary Content -->
    </div>
  </div>
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <!-- Entry Summary Content -->
    </div>
  </div>
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <!-- Entry Summary Content -->
    </div>
  </div>
  <div class="card">
    <div class="entry_summary entry_summary--vertical">
      <!-- Entry Summary Content -->
    </div>
  </div>
</div>
{% endhighlight %}

