---
title: Cards
date: 2024-01-04
tags: content
---

<h3>Card with a single entry summary</h3>

<div class="card">
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
      <figcaption>Ambassador</figcaption>
    </figure>
  </div>  
</div>

<h3>Card with multiple entries</h3>

<div class="card">
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
    </figure>
  </div>
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
      <figcaption>Ambassador</figcaption>
    </figure>
  </div> 
</div>

<h3>Card with multiple entries and show more toggle</h3>

<div class="card" data-toggle="more" data-more-text="Show more" data-less-text="- Show less">
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
    </figure>
  </div>
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
      <figcaption>Ambassador</figcaption>
    </figure>
  </div>
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
    </figure>
  </div>  
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
    </figure>
  </div>  
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
    </figure>
  </div>  
</div>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Add the data-toggle attribute to add the show more -->
<div class="card" data-toggle="more" data-more-text="Show more" data-less-text="- Show less">
  <div class="entry_summary">
    <div class="entry_summary__text">
      <a href="#" class="category">English Premier League</a>
      <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
      <ul class="meta">
        <li>Alexander Boyes</li>
        <li>18 Jan 2024, 16:35</li>
      </ul>
    </div>
    <figure class="entry_summary__image">
      <a href="#">
        <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
      </a>
    </figure>
  </div>
  <!-- More .entry_summary elements -->
</div>
{% endhighlight %}

<script>

</script>