---
title: Embed Summary
date: 2024-01-03
tags: content
---

<h3>Default</h3>

<div class="embed_summary" data-toggle="more" data-more-text="Read more" data-less-text="Read less">
  <div class="embed_summary__embed">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bzZPYMSwEqo?si=KC6TPvvO1Xijc92w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="embed_summary__actions">
    <ul class="button_group">
      <li><a data-market_full="http://bbc.co.uk" href="http://bbc.co.uk" class="secondary_button">Bet here</a></li>
    </ul>
  </div>
</div>

<h3>Shortcode</h3>
<p>You can generate a list containing collected entries using the following shortcode.</p>
{% highlight html %}
[contentBlock title="US Trackers" limit="2" url="http://bb.dream/betfair-predicts/us-trackers/" layout="embed_list"]
{% endhighlight %}
<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Usage</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>title</td>
      <td>The title above the swimlane</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>limit</td>
      <td>The number of entries you would like to display.</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>url</td>
      <td>The url for the collection of entries (usually a blog or category)</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>layout</td>
      <td>The layout determines how the content will be displayed. In this case 'embed_list'.</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Default -->
<div class="embed_summary">
  <div class="embed_summary__embed">
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bzZPYMSwEqo?si=KC6TPvvO1Xijc92w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="embed_summary__actions">
    <ul class="button_group">
      <li><a data-market_full="http://bbc.co.uk" href="http://bbc.co.uk" class="secondary_button">Bet here</a></li>
    </ul>
  </div>
</div>
{% endhighlight %}

<script>

</script>