---
title: Entry Summary
date: 2024-01-03
tags: content
---

<h3>Default</h3>

<div class="entry_summary">
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x600?text=Featured+Image" alt="">
    </a>
    <figcaption>Ambassador</figcaption>
  </figure>
</div>

<h3>Square Thumbnail</h3>

<div class="entry_summary entry_summary--square-thumbnail">
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title">
      <a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a>
    </h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
    <figcaption>Ambassador</figcaption>
  </figure>
</div>

<h3>Video</h3>

<div class="entry_summary">
  <div class="entry_summary__video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5GmsB0qgKJA?si=4Mpf_GrwoMGg803k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
  </div>
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
</div>

<h3>Vertical</h3>

<div class="entry_summary entry_summary--vertical">
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
    <figcaption>Ambassador</figcaption>
  </figure>
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
</div>

<h3>Hero</h3>

<div class="entry_summary entry_summary--hero">
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
  </figure>
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Default -->
<div class="entry_summary">
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title">
      <a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a>
    </h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
    <figcaption>Ambassador</figcaption>
  </figure>
</div>

<!-- Square Thumbnail -->
<div class="entry_summary entry_summary--square-thumbnail">
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title">
      <a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a>
    </h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
    <figcaption>Ambassador</figcaption>
  </figure>
</div>

<!-- Video -->
<div class="entry_summary">
  <div class="entry_summary__video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5GmsB0qgKJA?si=4Mpf_GrwoMGg803k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
  </div>
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
</div>

<!-- Vertical -->
<div class="entry_summary entry_summary--vertical">
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
    <figcaption>Ambassador</figcaption>
  </figure>
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
    <ul class="meta">
      <li>Alexander Boyes</li>
      <li>18 Jan 2024, 16:35</li>
    </ul>
  </div>
</div>

<!-- Hero -->
<div class="entry_summary entry_summary--hero">
  <figure class="entry_summary__image">
    <a href="#">
      <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
    </a>
  </figure>
  <div class="entry_summary__text">
    <a href="#" class="category">English Premier League</a>
    <h2 class="title"><a href="#"">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
  </div>
</div>
{% endhighlight %}