---
title: Featured Runner
date: 2024-01-01
tags: racing-data
---

<h3>Single</h3>

<div class="card">
  <div class="featured_runner">
    <div class="featured_runner__number">
      <span class="number">7</span>
      <span class="position">(8)</span>
    </div>
    <figure class="featured_runner__silks">
      <img src="https://images.timeform.com/silks/opt/00862277.png" alt="">
    </figure>
    <div class="featured_runner__details">
      <h4 class="name"><a href="#">Frero Banbou (Fr)</a></h4>
      <ul class="team">
        <li><abbr title="Jocky">J:</abbr> <a href="">Charlie Deutsch</a></li>
        <li><abbr title="Trainer">T:</abbr> <a href="">Venetia Williams</a></li>
        <li><abbr title="Form">F:</abbr> 110-D6</li>
      </ul>
    </div>
    <div class="featured_runner__price">
      <ul class="button_group">
        <li>
          <a class="price_button" href="#">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </li>
        <li>
          <a class="price_button price_button--exc" href="#">
            <span class="price_button__label">EXC</span>
            2.54
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<h3>Multiple</h3>

<div class="card">
  <div class="featured_runner">
    <div class="featured_runner__number">
      <span class="number">7</span>
      <span class="position">(8)</span>
    </div>
    <figure class="featured_runner__silks">
      <img src="https://images.timeform.com/silks/opt/00862277.png" alt="">
    </figure>
    <div class="featured_runner__details">
      <h4 class="name">Frero Banbou (Fr)</h4>
      <ul class="team">
        <li><abbr title="Jocky">J:</abbr> Charlie Deutsch</li>
        <li><abbr title="Trainer">T:</abbr> Venetia Williams</li>
        <li><abbr title="Form">F:</abbr> 110-D6</li>
      </ul>
    </div>
    <div class="featured_runner__price">
      <ul class="button_group">
        <li>
          <a class="price_button" href="#">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </li>
        <li>
          <a class="price_button price_button--exc" href="#">
            <span class="price_button__label">EXC</span>
            2.54
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="featured_runner">
    <div class="featured_runner__number">
      <span class="number">8</span>
      <span class="position">(9)</span>
    </div>
    <figure class="featured_runner__silks">
      <img src="https://images.timeform.com/silks/opt/00876966.png" alt="">
    </figure>
    <div class="featured_runner__details">
      <h4 class="name">Greatness Awaits (Ire)</h4>
      <ul class="team">
        <li><abbr title="Jocky">J:</abbr> Beau Morgan</li>
        <li><abbr title="Trainer">T:</abbr> Ben Pauling</li>
        <li><abbr title="Form">F:</abbr> 6245-U25</li>
      </ul>
    </div>
    <div class="featured_runner__price">
      <ul class="button_group">
        <li>
          <a class="price_button" href="#">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </li>
        <li>
          <a class="price_button price_button--exc" href="#">
            <span class="price_button__label">EXC</span>
            2.54
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="card">
  <div class="featured_runner">
    <div class="featured_runner__number">
      <span class="number">7</span>
      <span class="position">(8)</span>
    </div>
    <figure class="featured_runner__silks">
      <img src="https://images.timeform.com/silks/opt/00862277.png" alt="">
    </figure>
    <div class="featured_runner__details">
      <h4 class="name">Frero Banbou (Fr)</h4>
      <ul class="team">
        <li><abbr title="Jocky">J:</abbr> Charlie Deutsch</li>
        <li><abbr title="Trainer">T:</abbr> Venetia Williams</li>
        <li><abbr title="Form">F:</abbr> 110-D6</li>
      </ul>
    </div>
    <div class="featured_runner__price">
      <ul class="button_group">
        <li>
          <a class="price_button" href="#">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </li>
        <li>
          <a class="price_button price_button--exc" href="#">
            <span class="price_button__label">EXC</span>
            2.54
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endhighlight %}
