---
title: Head to Head History
date: 2024-01-04
tags: football-stats
---

<h3>Default</h3>

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Head to Head History</h2>
  </header>
  <div class="stat_card__content">
    <div style="--stat_percent: 100%" class="head_to_head">
      <span class="label">Label</span>
      <span class="home">10</span>
      <span class="away">0</span>
    </div>
    <div style="--stat_percent: 50%" class="head_to_head">
      <span class="label">Label</span>
      <span class="home">1</span>
      <span class="away">1</span>
    </div>
    <div style="--stat_percent: 10%" class="head_to_head">
      <span class="label">Label</span>
      <span class="home">1</span>
      <span class="away">10</span>
    </div>
    <div style="--stat_percent: 85.7142857143%" class="head_to_head">
      <span class="label">Label</span>
      <span class="home">6</span>
      <span class="away">7</span>
    </div>
  </div>
</div>

<h3>No bars</h3>

<!-- Note: The nested spans are to stop wonky alignment of labels -->

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Haaland <span style="float: right;">Salah</span></h2>
  </header>
  <div class="stat_card__content">
    <div class="head_to_head head_to_head--no-bars">
      <span class="label">Label</span>
      <span class="home highlight"><span>10</span></span>
      <span class="away"><span>0</span></span>
    </div>
    <hr>
    <div class="head_to_head head_to_head--no-bars">
      <span class="label">Label</span>
      <span class="home"><span>25</span></span>
      <span class="away highlight"><span>75</span></span>
    </div>
  </div>
</div>

<h3>Shortcode</h3>
<p>You can generate a match head-to-head using the following shortcode.</p>
{% highlight html %}
[matchPredictionsHeadToHead url="https://betting.betfair.com.nxt.ppbdev.com/football/predictions/match/bayern-mnchen-vs-real-madrid/7oavx1jua8rnwse757h5pwcus/"]
{% endhighlight %}
<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Usage</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>url</td>
      <td>The predictions url of the match</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Default -->

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Head to Head History</h2>
  </header>
  <div class="stat_card__content">
    <!-- Pass the data into a custom property called stat_percent for each head_to_head stat -->
    <div style="--stat_percent: 50%" class="head_to_head">
      <span class="label">Label</span>
      <span class="home">1</span>
      <span class="away">1</span>
    </div>
  </div>
</div>

<!-- No Bars -->
<!-- Note: The nested spans are to stop wonky alignment of labels -->

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Haaland <span style="float: right;">Salah</span></h2>
  </header>
  <div class="stat_card__content">
    <div class="head_to_head head_to_head--no-bars">
      <span class="label">Label</span>
      <span class="home highlight"><span>10</span></span>
      <span class="away"><span>0</span></span>
    </div>
    <hr>
    <div class="head_to_head head_to_head--no-bars">
      <span class="label">Label</span>
      <span class="home"><span>25</span></span>
      <span class="away highlight"><span>75</span></span>
    </div>
  </div>
</div>
{% endhighlight %}
