---
title: League Record
date: 2024-01-01
tags: stats
---

<h3>Default</h3>

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Barcelona League Position</h2>
  </header>
  <div class="stat_card__content stat_card__content--no-padding">
    <table class="league_record">
      <thead>
        <tr>
          <th>Season</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>English Premier League (2023/2024)</td>
          <td>4</td>
        </tr>
        <tr>
          <td>English Premier League (2022/2023)</td>
          <td>1</td>
        </tr>
        <tr>
          <td>English Premier League (2021/2022)</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="stat_card">
  <header class="stat_card__title">
    <h2>Barcelona League Position</h2>
  </header>
  <div class="stat_card__content stat_card__content--no-padding">
    <table class="league_record">
      <thead>
        <tr>
          <th>Season</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>English Premier League (2023/2024)</td>
          <td>4</td>
        </tr>
        <tr>
          <td>English Premier League (2022/2023)</td>
          <td>1</td>
        </tr>
        <tr>
          <td>English Premier League (2021/2022)</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endhighlight %}
