---
title: Market Navigation
date: 2024-01-01
---

<h3>Default</h3>

<ul class="market_navigation">
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/football.svg" %}
      Football
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/horse-racing.svg" %}
      Racing
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/golf.svg" %}
      Golf
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/cricket.svg" %}
      Cricket
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/tennis.svg" %}
      Tennis
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/politics.svg" %}
      Politics
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/boxing.svg" %}
      Boxing
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/rugby.svg" %}
      Rugby
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include "svg/nfl.svg" %}
      NFL
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<ul class="market_navigation">
  <li class="market_navigation__item">
    <a href="#">
      <!-- Inline SVG -->
      Market Label
    </a>
  </li>
  <!-- More list items -->
</ul>
{% endhighlight %}