---
title: Market Navigation
date: 2024-01-02
tags: navigation
---

<h3>Default</h3>

<ul class="market_navigation">
  <li class="market_navigation__item active">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/football.svg' %}
      Football
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/horse-racing.svg' %}
      Racing
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/golf.svg' %}
      Golf
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/cricket.svg' %}
      Cricket
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/tennis.svg' %}
      Tennis
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/politics.svg' %}
      Politics
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/boxing.svg' %}
      Boxing
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/rugby.svg' %}
      Rugby
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/nfl.svg' %}
      NFL
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<ul class="market_navigation">
  <li class="market_navigation__item active">
    <a href="#">
      <!-- Inline SVG -->
      Market Label
    </a>
  </li>
  <li class="market_navigation__item">
    <a href="#">
      <!-- Inline SVG -->
      Market Label
    </a>
  </li>
  <!-- More list items -->
</ul>
{% endhighlight %}