---
title: Market Cards
date: 2024-01-06
tags: content
---

<h3>Standalone Market Card</h3>

<div class="card">
  <div class="market_card">
    <div class="market_card__description">
      <p>Back Frero Banbou on Aintree Saturday (14:45)</p>
    </div>
    <div class="market_card__price">
      <a class="price_button price_button--sbk" href="">
        <span class="price_button__label">SBK</span>
        3.00
      </a>
    </div>
    <div class="market_card__price">
      <a class="price_button price_button--exc" href="">
        <span class="price_button__label">EXC</span>
        1.91
      </a>
    </div>
    <div class="market_card__price">
      <a class="price_button price_button--exc-lay" href="">
        <span class="price_button__label">EXC</span>
        1.91
      </a>
    </div>
  </div>
</div>

<h3>Multiple Market Cards</h3>

<div class="card">
  <div class="market_card">
    <div class="market_card__description">
      <p>Back Frero Banbou on Aintree Saturday (14:45)</p>
    </div>
    <div class="market_card__price">
      <a class="price_button price_button--sbk" href="">
        <span class="price_button__label">SBK</span>
        1.91
      </a>
    </div>
    <div class="market_card__price">
      <a class="price_button price_button--exc" href="">
        <span class="price_button__label">EXC</span>
        1.91
      </a>
    </div>
  </div>
  <div class="market_card">
    <div class="market_card__description">
      <h4><a href="https://betting.betfair.com/horse-racing/daily-racing-multiple/"> Daily Racing Multiple</a></h4>
      <p>
        <a href="https://betting.betfair.com/horse-racing/daily-racing-multiple/horse-racing-tips-make-an-appointment-with-doctor-for-dundalk-100-1-double-160224-134.html"><span class="bbauth">Alan Dudman says:</span><span> Back Friday's racing double at Dundalk @ <b class="inline_odds" title="101.00"><span class="inline_odds__main">100/1</span><span class="inline_odds__tooltip">101.00</span></b> EW</span></a>
      </p>
    </div>
    <div class="market_card__price">
      <a class="price_button" href="">
        <span class="price_button__label">SBK</span>
        3.00
      </a>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<!-- Standalone -->
<div class="card">
  <div class="market_card">
    <div class="market_card__description">
      <p>Back Frero Banbou on Aintree Saturday (14:45)</p>
    </div>
    <div class="market_card__price">
      <a class="price_button" href="">
        <span class="price_button__label">SBK</span>
        1.91
      </a>
    </div>
  </div>
</div>

<!-- Multiple -->
<div class="card">
  <div class="market_card">
    <div class="market_card__description">
      <p>Back Frero Banbou on Aintree Saturday (14:45)</p>
    </div>
    <div class="market_card__price">
      <a class="price_button" href="">
        <span class="price_button__label">SBK</span>
        1.91
      </a>
    </div>
    <div class="market_card__price">
      <a class="price_button price_button--exc" href="">
        <span class="price_button__label">EXC</span>
        1.91
      </a>
    </div>
  </div>
  <div class="market_card">
    <div class="market_card__description">
      <p>Back Percussion on Aintree Saturday (14:45)</p>
    </div>
    <div class="market_card__price">
      <a class="price_button" href="">
        <span class="price_button__label">SBK</span>
        3.00
      </a>
    </div>
  </div>
</div>
{% endhighlight %}
