---
title: Match Preview
date: 2024-01-01
tags: football-stats
---

<h3>Default</h3>

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Match Preview</h2>
  </header>
  <div class="stat_card__content">
    <h3 class="match_preview_date">27 Nov, 19:45</h3>
    <div class="match_preview">
      <span class="match_preview__home_team">
        <span style="--kit-colour-1: #FF0000; --kit-colour-2: #003399;" class="kit"></span>
        PSG
      </span>
      <span class="match_preview__away_versus">-</span>
      <span class="match_preview__away_team">
        <span style="--kit-colour-1: #FFFFFF; --kit-colour-2: #000000;" class="kit"></span>
        Newcastle United
      </span>
    </div>
    <div class="team_form_columns">
      <div class="team_form team_form--home">
        <h5 class="team_form__teamname">PSG</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
        </ol>
      </div>
      <div class="team_form team_form--away">
        <h5 class="team_form__teamname">Newcastle United</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="loss">L</li>
          <li class="draw">D</li>
          <li class="draw">D</li>
          <li class="win">W</li>
        </ol>
      </div>
    </div>
    <a class="primary_button" href="#">
      Full Stats
      <span>Powered by Opta</span>
    </a>
  </div>
</div>

<h3>Shortcode</h3>
<p>You can generate a match preview using the following shortcode.</p>
{% highlight html %}
[matchPredictions url="https://betting.betfair.com.nxt.ppbdev.com/football/predictions/match/bayern-mnchen-vs-real-madrid/7oavx1jua8rnwse757h5pwcus/"]
{% endhighlight %}
<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Usage</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>url</td>
      <td>The predictions url of the match</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>


<h3>Example HTML</h3>
{% highlight html %}
<div class="stat_card">
  <header class="stat_card__title">
    <h2>Match Preview</h2>
  </header>
  <div class="stat_card__content">
    <h3 class="match_preview_date">27 Nov, 19:45</h3>
    <div class="match_preview">
      <span class="match_preview__home_team">
        <span style="--kit-colour-1: #FF0000; --kit-colour-2: #003399;" class="kit"></span>
        PSG
      </span>
      <span class="match_preview__away_versus">-</span>
      <span class="match_preview__away_team">
        <span style="--kit-colour-1: #FFFFFF; --kit-colour-2: #000000;" class="kit"></span>
        Newcastle United
      </span>
    </div>
    <div class="team_form_columns">
      <div class="team_form team_form--home">
        <h5 class="team_form__teamname">PSG</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
        </ol>
      </div>
      <div class="team_form team_form--away">
        <h5 class="team_form__teamname">Newcastle United</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="loss">L</li>
          <li class="draw">D</li>
          <li class="draw">D</li>
          <li class="win">W</li>
        </ol>
      </div>
    </div>
    <a class="primary_button" href="#">
      Full Stats
      <span>Powered by Opta</span>
    </a>
  </div>
</div>
{% endhighlight %}

<h3>Variant</h3>

<div class="stat_card">
  <div class="stat_card__content">
    <h3 class="match_preview_date"><time datetime="2026-08-20T20:00:00">20 Aug, 20:00</time></h3>
    <div class="match_preview">
      <!-- @blucube: Market buttons for Home Win and Away Win with odds percentage conversion. Favourite needs .match_preview__favourite class adding -->
      <a href="#" class="match_preview__home_team match_preview__favourite">
        <span style="--kit-colour-1: #FFFFFF; --kit-colour-2: #0033FF;" class="kit"></span>
        Sheff Wed
        <span class="percentage">53%</span>
      </a>
      <span class="match_preview__away_versus">
        vs
      </span>
      <a href="#" class="match_preview__away_team">
        <span style="--kit-colour-1: #990000; --kit-colour-2: #FF9900;" class="kit"></span>
        Bradford
        <span class="percentage">23%</span>
      </a>
    </div>
    <a class="primary_button" href="#">
      View predictions
    </a>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="stat_card">
  <div class="stat_card__content">
    <h3 class="match_preview_date"><time datetime="2026-08-20T20:00:00">20 Aug, 20:00</time></h3>
    <div class="match_preview">
      <!-- @blucube: Market buttons for Home Win and Away Win with odds percentage conversion. Favourite needs .match_preview__favourite class adding -->
      <a href="#" class="match_preview__home_team match_preview__favourite">
        <span style="--kit-colour-1: #FFFFFF; --kit-colour-2: #0033FF;" class="kit"></span>
        Sheff Wed
        <span class="percentage">53%</span>
      </a>
      <span class="match_preview__away_versus">
        vs
      </span>
      <a href="#" class="match_preview__away_team">
        <span style="--kit-colour-1: #990000; --kit-colour-2: #FF9900;" class="kit"></span>
        Bradford
        <span class="percentage">23%</span>
      </a>
    </div>
    <a class="primary_button" href="#">
      View predictions
    </a>
  </div>
</div>
{% endhighlight %}