---
title: Match Preview
date: 2024-01-01
tags: football-stats
---

<h3>Default</h3>

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Match Preview</h2>
  </header>
  <div class="stat_card__content">
    <h3 class="match_preview_date">27 Nov 2023</h3>
    <div class="match_preview">
      <span class="match_preview__home_team">PSG</span>
      <span class="match_preview__away_versus">-</span>
      <span class="match_preview__away_team">Newcastle United</span>
    </div>
    <div class="team_form_columns">
      <div class="team_form team_form--home">
        <h5 class="team_form__teamname">PSG</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
        </ol>
      </div>
      <div class="team_form team_form--away">
        <h5 class="team_form__teamname">Newcastle United</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="loss">L</li>
          <li class="draw">D</li>
          <li class="draw">D</li>
          <li class="win">W</li>
        </ol>
      </div>
    </div>
    <a class="primary_button" href="#">
      Full Stats
      <span>Powered by Opta</span>
    </a>
  </div>
</div>

<h3>Shortcode</h3>
<p>You can generate a match preview using the following shortcode.</p>
{% highlight html %}
[matchPredictions url="https://betting.betfair.com.nxt.ppbdev.com/football/predictions/match/bayern-mnchen-vs-real-madrid/7oavx1jua8rnwse757h5pwcus/"]
{% endhighlight %}
<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Usage</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>url</td>
      <td>The predictions url of the match</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>


<h3>Example HTML</h3>
{% highlight html %}
<div class="stat_card">
  <header class="stat_card__title">
    <h2>Match Preview</h2>
  </header>
  <div class="stat_card__content">
    <h3 class="match_preview_date">27 Nov 2023</h3>
    <div class="match_preview">
      <span class="match_preview__home_team">PSG</span>
      <span class="match_preview__away_versus">-</span>
      <span class="match_preview__away_team">Newcastle United</span>
    </div>
    <div class="team_form_columns">
      <div class="team_form team_form--home">
        <h5 class="team_form__teamname">PSG</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
          <li class="win">W</li>
        </ol>
      </div>
      <div class="team_form team_form--away">
        <h5 class="team_form__teamname">Newcastle United</h5>
        <ol class="team_form__guide">
          <li class="win">W</li>
          <li class="loss">L</li>
          <li class="draw">D</li>
          <li class="draw">D</li>
          <li class="win">W</li>
        </ol>
      </div>
    </div>
    <a class="primary_button" href="#">
      Full Stats
      <span>Powered by Opta</span>
    </a>
  </div>
</div>
{% endhighlight %}
