---
title: Menu Lists
date: 2024-01-02
tags: navigation
---

<h3>Default</h3>

<ul class="menu_list">
  <li>
    <a href="#">
      {% include "svg/football.svg" %}
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include "svg/horse-racing.svg" %}
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include "svg/golf.svg" %}
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
  <li>
    <a href="#">
      {% include "svg/cricket.svg" %}
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
</ul>

<h3>Ruled</h3>
<ul class="menu_list menu_list--ruled">
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
</ul>

<h3>Alternative</h3>
<ul class="menu_list menu_list--alt">
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<!-- Default -->
<ul class="menu_list">
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
</ul>

<!-- Ruled -->
<ul class="menu_list menu_list--ruled">
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
</ul>

<!-- Alt -->
<ul class="menu_list menu_list--alt">
  <li>
    <a href="#">
      Navigation Item
      {% include "svg/arrow-right.svg" %}
    </a>
  </li>
</ul>
{% endhighlight %}