---
title: Most Read
date: 2024-01-08
---

<h3>Default</h3>

<div class="card">
  <ol class="most_read">
    <li>
      <span class="category"><a href="#">Serial winners</a></span>
      <h3 class="title"><a href="#">Serial Winners Rachael Blackmore: Haydock goes Hollywood for world premiere</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Serial winners</a></span>
      <h3 class="title"><a href="#">Serial Winners Survey: Binge it like Becks, say Brits, as sports docs go mainstream</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Horse racing tips and predictions</a></span>
      <h3 class="title"><a href="#">Daryl Carter's Tips: Hughes can get the best out of McCain's unexposed chaser</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Politics</a></span>
      <h3 class="title"><a href="#">Next General Election Betting: Spring election backed after autumn statement</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Bet of the day</a></span>
      <h3 class="title"><a href="#">Football Bet of the Day: Blues to win Stamford Bridge showdown</a></h3>
    </li>
  </ol>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="card">
  <ol class="most_read">
    <li>
      <span class="category"><a href="#">Serial winners</a></span>
      <h3 class="title"><a href="#">Serial Winners Rachael Blackmore: Haydock goes Hollywood for world premiere</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Serial winners</a></span>
      <h3 class="title"><a href="#">Serial Winners Survey: Binge it like Becks, say Brits, as sports docs go mainstream</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Horse racing tips and predictions</a></span>
      <h3 class="title"><a href="#">Daryl Carter's Tips: Hughes can get the best out of McCain's unexposed chaser</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Politics</a></span>
      <h3 class="title"><a href="#">Next General Election Betting: Spring election backed after autumn statement</a></h3>
    </li>
    <li>
      <span class="category"><a href="#">Bet of the day</a></span>
      <h3 class="title"><a href="#">Football Bet of the Day: Blues to win Stamford Bridge showdown</a></h3>
    </li>
  </ol>
</div>
{% endhighlight %}
