---
title: Platform Toggle
date: 2024-01-07
tags: content
---

<h3>Default</h3>

<div class="platform_toggle platform_toggle--sbk">
  <div class="platform_toggle__options">
    <h2 class="typography-h380">Latest Betting</h2>
    <div>
      <button class="pebble pebble--sbk" onclick="togglePlatformSBK(this)">SBK</button>
      <button class="pebble pebble--exc" onclick="togglePlatformEXC(this)">EXC</button>
    </div>
  </div>
  <div class="card">
    <h3 class="typography-h280">Sky Bet Supreme Novices' Hurdle (grade 1) (1)</h3>
    <p style="margin-block-start: 0.25rem;"><time datetime="">13:30, Tuesday 12 March 2024</time></p>
  
    <div style="margin-block-start: 0.75rem;">
      <div class="market_card">
        <div class="market_card__description">
          <p>Horse 1 name</p>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc" href="">
            <span class="price_button__label">EXC</span>
            1.91
          </a>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc-lay" href="">
            <span class="price_button__label">EXC</span>
            1.91
          </a>
        </div>
        <div data-platform="sbk" class="market_card__price">
          <a class="price_button price_button--sbk" href="">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </div>
      </div>
      <div class="market_card">
        <div class="market_card__description">
          <p>Horse 2 name</p>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc" href="">
            <span class="price_button__label">EXC</span>
            2.91
          </a>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc-lay" href="">
            <span class="price_button__label">EXC</span>
            2.91
          </a>
        </div>
        <div data-platform="sbk" class="market_card__price">
          <a class="price_button price_button--sbk" href="">
            <span class="price_button__label">SBK</span>
            2.91
          </a>
        </div>
      </div>
      <div class="market_card">
        <div class="market_card__description">
          <p>Horse 3 name</p>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc" href="">
            <span class="price_button__label">EXC</span>
            3.91
          </a>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc-lay" href="">
            <span class="price_button__label">EXC</span>
            3.91
          </a>
        </div>
        <div data-platform="sbk" class="market_card__price">
          <a class="price_button price_button--sbk" href="">
            <span class="price_button__label">SBK</span>
            3.91
          </a>
        </div>
      </div>
  
    </div>
    
    <a data-platform="exc" class="card__cta" href="#">View market</a>
    <a data-platform="sbk" class="card__cta" href="#">View market</a>
  
  </div>
</div>


<h3>Example HTML</h3>
{% highlight html %}
<div class="platform_toggle platform_toggle--sbk">
  <div class="platform_toggle__options">
    <h2 class="typography-h380">Latest Betting</h2>
    <div>
      <button class="pebble pebble--sbk" onclick="togglePlatformSBK(this)">SBK</button>
      <button class="pebble pebble--exc" onclick="togglePlatformEXC(this)">EXC</button>
    </div>
  </div>
  <div class="card">
    <h3 class="typography-h280">Sky Bet Supreme Novices' Hurdle (grade 1) (1)</h3>
    <p style="margin-block-start: 0.25rem;"><time datetime="">13:30, Tuesday 12 March 2024</time></p>
  
    <div style="margin-block-start: 0.75rem;">
      <div class="market_card">
        <div class="market_card__description">
          <p>Horse 1 name</p>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc" href="">
            <span class="price_button__label">EXC</span>
            1.91
          </a>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc-lay" href="">
            <span class="price_button__label">EXC</span>
            1.91
          </a>
        </div>
        <div data-platform="sbk" class="market_card__price">
          <a class="price_button price_button--sbk" href="">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </div>
      </div>
      <div class="market_card">
        <div class="market_card__description">
          <p>Horse 2 name</p>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc" href="">
            <span class="price_button__label">EXC</span>
            2.91
          </a>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc-lay" href="">
            <span class="price_button__label">EXC</span>
            2.91
          </a>
        </div>
        <div data-platform="sbk" class="market_card__price">
          <a class="price_button price_button--sbk" href="">
            <span class="price_button__label">SBK</span>
            2.91
          </a>
        </div>
      </div>
      <div class="market_card">
        <div class="market_card__description">
          <p>Horse 3 name</p>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc" href="">
            <span class="price_button__label">EXC</span>
            3.91
          </a>
        </div>
        <div data-platform="exc" class="market_card__price">
          <a class="price_button price_button--exc-lay" href="">
            <span class="price_button__label">EXC</span>
            3.91
          </a>
        </div>
        <div data-platform="sbk" class="market_card__price">
          <a class="price_button price_button--sbk" href="">
            <span class="price_button__label">SBK</span>
            3.91
          </a>
        </div>
      </div>
  
    </div>
    
    <a data-platform="exc" class="card__cta" href="#">View market</a>
    <a data-platform="sbk" class="card__cta" href="#">View market</a>
  
  </div>
</div>
{% endhighlight %}

<script>
function togglePlatformSBK(element) {
  // Find the nearest parent element with class .nav_accordion
  var platformToggleParent = findNearestParent(element, 'platform_toggle');

  // Toggle the class .nav_accordion--active
  if (platformToggleParent) {
    platformToggleParent.classList.add('platform_toggle--sbk');
    platformToggleParent.classList.remove('platform_toggle--exc');
  }
}

function togglePlatformEXC(element) {
  // Find the nearest parent element with class .nav_accordion
  var platformToggleParent = findNearestParent(element, 'platform_toggle');

  // Toggle the class .nav_accordion--active
  if (platformToggleParent) {
    platformToggleParent.classList.add('platform_toggle--exc');
    platformToggleParent.classList.remove('platform_toggle--sbk');
  }
}

function findNearestParent(element, className) {
  // Traverse up the DOM to find the nearest parent with the specified class
  while (element && !element.classList.contains(className)) {
      element = element.parentElement;
  }

  return element;
}
</script>