---
title: Price Buttons
date: 2024-01-05
---

<ul class="button_group">
  <li>
    <a class="price_button" href="#">
      <span class="price_button__label">SBK</span>
      1.91
    </a>
  </li>
  <li>
    <a class="price_button price_button--exc" href="#">
      <span class="price_button__label">EXC</span>
      2.54
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<ul class="button_group">
  <li>
    <a class="price_button" href="#">
      <span class="price_button__label">SBK</span>
      1.91
    </a>
  </li>
  <li>
    <a class="price_button price_button--exc" href="#">
      <span class="price_button__label">EXC</span>
      2.54
    </a>
  </li>
</ul>
{% endhighlight %}