---
title: Promo Banner
date: 2024-01-08
tags: content
---

<h3>Default</h3>

<div class="promo_banner">
  <div class="promo_banner__text">
    <h2 class="typography-h480">£5 Free Bet when you bet £5 worth of multiples</h2>
    <p class="typography-h154">on racing any day this week.</p>
    <p class="typography-h072">Opt in required. Qualifying bet on Mon-Fri Horse Racing multiples. Free bet valid for 48 hours. Min combined odd...</p>
    <p class="typography-h072"><a href="">Eligibility criteria & T&Cs Apply.</a></p>
  </div>
  <div class="promo_banner__image">
    <img src="https://placehold.co/360x360?text=Promo+Art" alt="">
    <a href="#">See More</a>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="promo_banner">
  <div class="promo_banner__text">
    <h2 class="typography-h480">£5 Free Bet when you bet £5 worth of multiples</h2>
    <p class="typography-h154">on racing any day this week.</p>
    <p class="typography-h072">Opt in required. Qualifying bet on Mon-Fri Horse Racing multiples. Free bet valid for 48 hours. Min combined odd...</p>
    <p class="typography-h072"><a href="">Eligibility criteria & T&Cs Apply.</a></p>
  </div>
  <div class="promo_banner__image">
    <img src="https://placehold.co/360x360?text=Promo+Art" alt="">
    <a href="#">See More</a>
  </div>
</div>
{% endhighlight %}
