---
title: Quick Links
date: 2024-01-02
tags: navigation
---

<h3>Default</h3>

<ul class="quick_links">
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/football.svg' %}
      Premier League Tips
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/football.svg' %}
      Champions League Tips
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/football.svg' %}
      90th Minute Payout
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/horse-racing.svg' %}
      Betfair Serial Winners
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/horse-racing.svg' %}
      Tony Calvin Racing Tips
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/horse-racing.svg' %}
      Daryl Carter Ditcheat Diary
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<ul class="quick_links">
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/football.svg' %}
      Premier League Tips
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
  <li class="quick_links__item">
    <a href="#">
      {% include 'inc/rebuild_2024/icons/football.svg' %}
      Champions League Tips
      {% include 'inc/rebuild_2024/icons/arrow-right.svg' %}
    </a>
  </li>
</ul>
{% endhighlight %}