---
title: Race Navigation
date: 2024-01-08
tags: navigation
---

<h3>Default</h3>

<ul class="race_navigation">
  <li class="race_navigation__item">
    <a href="#">
      10:30
    </a>
  </li>
  <li class="race_navigation__item">
    <a aria-current="page" href="#">
      11:15
    </a>
  </li>
  <li class="race_navigation__item">
    <a href="#">
      11:45
    </a>
  </li>
  <li class="race_navigation__item">
    <a href="#">
      13:00
    </a>
  </li>
  <li class="race_navigation__item">
    <a href="#">
      13:25
    </a>
  </li>
  <li class="race_navigation__item">
    <a href="#">
      13:55
    </a>
  </li>
  <li class="race_navigation__item">
    <a href="#">
      14:30
    </a>
  </li>
  <li class="race_navigation__item">
    <a href="#">
      14:50
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<ul class="race_navigation">
  <li class="race_navigation__item">
    <a href="#">
      Race time
    </a>
  </li>
  <!-- More list items -->
</ul>
{% endhighlight %}