---
title: Recommended Bet
date: 2024-01-06
tags: content
---

<h3>Default</h3>

<div class="recommended_bet">
  <div class="recommended_bet__label">
    <span>{% include 'inc/rebuild_2024/icons/star.svg' %} Recommended Bet</span>
  </div>
  <div class="recommended_bet__bets">
    <div class="market_card">
      <div class="market_card__description">
        <p>Back PSG to win and Over 1.5 goals</p>
      </div>
      <div class="market_card__price">
        <a class="price_button" href="">
          <span class="price_button__label">SBK</span>
          10/11
        </a>
      </div>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="recommended_bet">
  <div class="recommended_bet__label">
    <span>{% include 'inc/rebuild_2024/icons/star.svg' %} Recommended Bet</span>
  </div>
  <div class="recommended_bet__bets">
    <div class="market_card">
      <div class="market_card__description">
        <p>Back PSG to win and Over 1.5 goals</p>
      </div>
      <div class="market_card__price">
        <a class="price_button" href="">
          <span class="price_button__label">SBK</span>
          10/11
        </a>
      </div>
    </div>
  </div>
</div>
{% endhighlight %}
