---
title: Rich Featured Runner
date: 2024-01-02
tags: racing-data
---

<h3>Single</h3>

<div class="card">
  <div class="featured_runner">
    <div class="featured_runner__number">
      <span class="number">7</span>
      <span class="position">(8)</span>
      <span class="toggle" onclick="toggleFeaturedRunnerMore(this)">{% include 'inc/rebuild_2024/icons/accordion.svg' %}</span>
    </div>
    <figure class="featured_runner__silks">
      <img src="https://images.timeform.com/silks/opt/00862277.png" alt="">
    </figure>
    <div class="featured_runner__details">
      <h4 class="name">Frero Banbou (Fr)</h4>
      <ul class="team">
        <li><abbr title="Jocky">J:</abbr> Charlie Deutsch</li>
        <li><abbr title="Trainer">T:</abbr> Venetia Williams</li>
        <li><abbr title="Form">F:</abbr> 110-D6</li>
      </ul>
    </div>
    <div class="featured_runner__price">
      <ul class="button_group">
        <li>
          <a class="price_button" href="#">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </li>
        <li>
          <a class="price_button price_button--exc" href="#">
            <span class="price_button__label">EXC</span>
            2.54
          </a>
        </li>
      </ul>
    </div>
    <div class="featured_runner__more">
      <div class="runner_more">
        <dl>
          <dt>Age</dt>
          <dd>6</dd>
          <dt>Weight</dt>
          <dd>9–4</dd>
          <dt>Or</dt>
          <dd>117</dd>
        </dl>
        <p>Showed much improved from to get off the mark in 20-runner handicap hurdle at Uttoxeter (19.9f, soft) 25 days ago. Up in trip and likely to progress further now he’s up and running.</p>
      </div>
      <div class="table_container">
        <table class="runner_form_table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Course</th>
              <th>Distance</th>
              <th>Going</th>
              <th>Pos</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2 Sept 23</td>
              <td>Ascot</td>
              <td>1m</td>
              <td>Standard</td>
              <td>2/11</td>
              <td>HDL</td>
              <td><a href="https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3" target="_blank" onclick="window.open('https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3','popup','width=480,height=380,scrollbars=no,resizable=no'); return false;">{% include 'inc/rebuild_2024/icons/watch.svg' %}</a></td>
            </tr>
            <tr>
              <td>2 Sept 23</td>
              <td>Ascot</td>
              <td>1m</td>
              <td>Standard</td>
              <td>2/11</td>
              <td>HDL</td>
              <td><a href="https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3" target="_blank" onclick="window.open('https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3','popup','width=480,height=380,scrollbars=no,resizable=no'); return false;">{% include 'inc/rebuild_2024/icons/watch.svg' %}</a></td>
            </tr>
            <tr>
              <td>2 Sept 23</td>
              <td>Ascot</td>
              <td>1m</td>
              <td>Standard</td>
              <td>2/11</td>
              <td>HDL</td>
              <td><a href="https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3" target="_blank" onclick="window.open('https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3','popup','width=480,height=380,scrollbars=no,resizable=no'); return false;">{% include 'inc/rebuild_2024/icons/watch.svg' %}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="card">
  <div class="featured_runner">
    <div class="featured_runner__number">
      <span class="number">7</span>
      <span class="position">(8)</span>
      <span class="toggle" onclick="toggleFeaturedRunnerMore(this)">{% include 'inc/rebuild_2024/icons/accordion.svg' %}</span>
    </div>
    <figure class="featured_runner__silks">
      <img src="https://images.timeform.com/silks/opt/00862277.png" alt="">
    </figure>
    <div class="featured_runner__details">
      <h4 class="name">Frero Banbou (Fr)</h4>
      <ul class="team">
        <li><abbr title="Jocky">J:</abbr> Charlie Deutsch</li>
        <li><abbr title="Trainer">T:</abbr> Venetia Williams</li>
        <li><abbr title="Form">F:</abbr> 110-D6</li>
      </ul>
    </div>
    <div class="featured_runner__price">
      <ul class="button_group">
        <li>
          <a class="price_button" href="#">
            <span class="price_button__label">SBK</span>
            1.91
          </a>
        </li>
        <li>
          <a class="price_button price_button--exc" href="#">
            <span class="price_button__label">EXC</span>
            2.54
          </a>
        </li>
      </ul>
    </div>
    <div class="featured_runner__more">
      <div>
        <dl>
          <dt>Age</dt>
          <dd>6</dd>
          <dt>Weight</dt>
          <dd>9–4</dd>
          <dt>Or</dt>
          <dd>117</dd>
        </dl>
        <p>Showed much improved from to get off the mark in 20-runner handicap hurdle at Uttoxeter (19.9f, soft) 25 days ago. Up in trip and likely to progress further now he’s up and running.</p>
      </div>
      <div class="table_container">
        <table class="runner_form_table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Course</th>
              <th>Distance</th>
              <th>Going</th>
              <th>Pos</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2 Sept 23</td>
              <td>Ascot</td>
              <td>1m</td>
              <td>Standard</td>
              <td>2/11</td>
              <td>HDL</td>
              <td><a href="https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3" target="_blank" onclick="window.open('https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3','popup','width=480,height=380,scrollbars=no,resizable=no'); return false;">{% include 'inc/rebuild_2024/icons/watch.svg' %}</a></td>
            </tr>
            <tr>
              <td>2 Sept 23</td>
              <td>Ascot</td>
              <td>1m</td>
              <td>Standard</td>
              <td>2/11</td>
              <td>HDL</td>
              <td><a href="https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3" target="_blank" onclick="window.open('https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3','popup','width=480,height=380,scrollbars=no,resizable=no'); return false;">{% include 'inc/rebuild_2024/icons/watch.svg' %}</a></td>
            </tr>
            <tr>
              <td>2 Sept 23</td>
              <td>Ascot</td>
              <td>1m</td>
              <td>Standard</td>
              <td>2/11</td>
              <td>HDL</td>
              <td><a href="https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3" target="_blank" onclick="window.open('https://videoplayer.betfair.com/GetPlayer.do?tr=1&amp;tID=1.45.1210728.3','popup','width=480,height=380,scrollbars=no,resizable=no'); return false;">{% include 'inc/rebuild_2024/icons/watch.svg' %}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endhighlight %}


<script>

  function toggleFeaturedRunnerMore(element) {
    // Find the nearest parent element with class .nav_accordion
    var featuredRunner = findRunnerParent(element, 'featured_runner');

    // Toggle the class .nav_accordion--active
    if (featuredRunner) {
      featuredRunner.classList.toggle('featured_runner--expand');
    }
  }

  function findRunnerParent(element, className) {
    // Traverse up the DOM to find the nearest parent with the specified class
    while (element && !element.classList.contains(className)) {
      element = element.parentElement;
    }

    return element;
  }

</script>