---
title: Search form
date: 2024-01-08
tags: navigation
---

<h3>Default</h3>

<div class="card">
  <form id="search_form" class="search_form">
    <input type="search" id="search" aria-label="Search" name="q" placeholder="Events, Games...">
    <button>Search</button>
  </form>
</div>

<h3>Example HTML</h3>

{% highlight html %}
<form id="search_form" class="search_form">
  <input type="search" id="search" aria-label="Search" name="q" placeholder="Events, Games...">
  <button>Search</button>
</form>
{% endhighlight %}