---
title: Share Options
date: 2024-01-04
tags: navigation
---

<h3>Default</h3>

<ul class="share_options">
  <li><a href="">{% include "svg/twitter.svg" %}</a></li>
  <li><a href="">{% include "svg/facebook.svg" %}</a></li>
  <li><a href="">{% include "svg/reddit.svg" %}</a></li>
  <li><a href="">{% include "svg/whatsapp.svg" %}</a></li>
  <li><a href="">{% include "svg/telegram.svg" %}</a></li>
</ul>

<h3>Example HTML</h3>
{% highlight html %}
<ul class="share_options">
  <li><a href="">{% include "svg/twitter.svg" %}</a></li>
  <li><a href="">{% include "svg/facebook.svg" %}</a></li>
  <li><a href="">{% include "svg/reddit.svg" %}</a></li>
  <li><a href="">{% include "svg/whatsapp.svg" %}</a></li>
  <li><a href="">{% include "svg/telegram.svg" %}</a></li>
</ul>
{% endhighlight %}
