---
title: Stat Chips
date: 2024-01-01
tags: stats
---

<h3>Default</h3>

<div class="stat_card">
  <header class="stat_card__title">
    <h2>Season Average Stats</h2>
  </header>
  <div class="stat_card__content">
    <div class="stat_chip_grid">
      <div class="stat_chip stat_chip--home">
        <h3 class="stat_chip__title">Sheff Utd Goals scored</h3>
        <p class="stat_chip__stat"><strong>3.61</strong> per game</p>
      </div>
      <div class="stat_chip stat_chip--away">
        <h3 class="stat_chip__title">Liverpool Goals scored</h3>
        <p class="stat_chip__stat"><strong>2.32</strong> per game</p>
      </div>
    </div>
  </div>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="stat_card">
  <header class="stat_card__title">
    <h2>Season Average Stats</h2>
  </header>
  <div class="stat_card__content">
    <div class="stat_chip_grid">
      <div class="stat_chip stat_chip--home">
        <h3 class="stat_chip__title">Sheff Utd Goals scored</h3>
        <p class="stat_chip__stat"><strong>3.61</strong> per game</p>
      </div>
      <div class="stat_chip stat_chip--away">
        <h3 class="stat_chip__title">Liverpool Goals scored</h3>
        <p class="stat_chip__stat"><strong>2.32</strong> per game</p>
      </div>
    </div>
  </div>
</div>
{% endhighlight %}
