---
title: Swimlane
date: 2024-01-07
tags: layout
---

<h3>Default</h3>

<div class="swimlane">
  <div class="card">
    <div class="entry_summary">
      <div class="entry_summary__text">
        <a href="#" class="category">English Premier League</a>
        <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
        <ul class="meta">
          <li>Alexander Boyes</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
    </div>  
  </div>
  <div class="card">
    <div class="entry_summary">
      <div class="entry_summary__text">
        <a href="#" class="category">Racing tips</a>
        <h2 class="title"><a href="#">Dundalk duo look a solid pair for a Wednesday 50/1 double</a></h2>
        <ul class="meta">
          <li>Tony Calvin</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
    </div>  
  </div>
  <div class="card">
    <div class="entry_summary">
      <div class="entry_summary__text">
        <a href="#" class="category">English Premier League</a>
        <h2 class="title"><a href="#">Premier League Opta Stats: Find 6/1 tip scorer tip and 6/1 Bet Builder</a></h2>
        <ul class="meta">
          <li>Alexander Boyes</li>
          <li>18 Jan 2024, 16:35</li>
        </ul>
      </div>
      <figure class="entry_summary__image">
        <a href="#">
          <img src="https://placehold.co/600x400?text=Featured+Image" alt="">
        </a>
        <figcaption>Ambassador</figcaption>
      </figure>
    </div>  
  </div>
</div>


<h3>Example HTML</h3>
{% highlight html %}
<div class="swimlane">
  <!-- Swimlane items-->
</div>
{% endhighlight %}
