---
title: Tab Navigation
date: 2024-01-02
tags: navigation
---

<h3>Default</h3>

<ul class="tab_navigation">
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item active">
    <a aria-current="page" href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
</ul>

<h3>Secondary</h3>

<ul class="secondary_tab_navigation">
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item active">
    <a aria-current="page" href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
</ul>

<h3>Example HTML</h3>

{% highlight html %}
<!-- Default -->
<ul class="tab_navigation">
  <li class="tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="tab_navigation__item active">
    <a aria-current="page" href="#">
      Navigation Item
    </a>
  </li>
  <!-- More list items -->
</ul>

<!-- Secondary -->
<ul class="secondary_tab_navigation">
  <li class="secondary_tab_navigation__item">
    <a href="#">
      Navigation Item
    </a>
  </li>
  <li class="secondary_tab_navigation__item active">
    <a aria-current="page" href="#">
      Navigation Item
    </a>
  </li>
  <!-- More list items -->
</ul>
{% endhighlight %}