---
title: Text Advert
date: 2024-01-08
tags: content
---

<h3>Default</h3>

<div class="text_advert">
  <h2 class="typography-h480">Get a Free £/€20 Exchange Bet</h2>
  <figure style="margin-top: 0.75rem;">
    <img src="https://placehold.co/720x300?text=Promo+Art" alt="">
  </figure>
  <ul class="no_bullets">
    <li><strong>Join Now</strong> - Open account using promo code <strong>VAL225</strong></li>
    <li><strong>Bet</strong> - Place a £/€20 Bet on the Exchange</li>
    <li><strong>Earn</strong> - We'll Refund You £/€20 If the Bet Loses</li>
  </ul>
  <p class="typography-h072">T&Cs apply.</p>
  <ul class="button_group button_group--fill">
    <li><a class="primary_button" href="">Bet now</a></li>
  </ul>
</div>

<h3>Example HTML</h3>
{% highlight html %}
<div class="text_advert">
  <h2 class="typography-h480">Get a Free £/€20 Exchange Bet</h2>
  <figure style="margin-top: 0.75rem;">
    <img src="https://placehold.co/720x300?text=Promo+Art" alt="">
  </figure>
  <ul class="no_bullets">
    <li><strong>Join Now</strong> - Open account using promo code <strong>VAL225</strong></li>
    <li><strong>Bet</strong> - Place a £/€20 Bet on the Exchange</li>
    <li><strong>Earn</strong> - We'll Refund You £/€20 If the Bet Loses</li>
  </ul>
  <p class="typography-h072">T&Cs apply.</p>
  <ul class="button_group button_group--fill">
    <li><a class="primary_button" href="">Bet now</a></li>
  </ul>
</div>
{% endhighlight %}
