@media (prefers-color-scheme: dark) {
  :root {
    --neutrals-text-default: #fcfcfd;
    --neutrals-text-secondary: #b4b4b8;
    --neutrals-text-disabled: #76767a;
    --neutrals-background-elevation1: #18181a;
    --neutrals-background-elevation2: #232325;
    --neutrals-background-elevation3: #2a2a2c;
    --neutrals-background-elevation4: #343436;
    --neutrals-background-elevation5: #444446;
    --neutrals-background-elevation5-5: #505053;
    --neutrals-background-elevation6: #76767a;
    --neutrals-border-elevation1: #343436;
    --neutrals-border-elevation2: #444446;
    --neutrals-border-elevation3: #76767a;
    --neutrals-border-elevation4: #e0e0e1;
    --neutrals-border-elevation5: #f2f2f3;
    --neutrals-border-elevation6: #fcfcfd;
    --neutrals-icon-default: #fcfcfd;
    --neutrals-icon-secondary: #b4b4b8;
    --neutrals-icon-disabled: #76767a;
    --neutrals-effects-drop-shadow: #18181a1a;
    --brand-betfair-text-default: #ffb80c;
    --brand-betfair-text-secondary: #18181a;
    --brand-betfair-text-tertiary: #fcfcfd;
    --brand-betfair-background-default: #ffb80c;
    --brand-betfair-background-secondary: #18181a;
    --brand-betfair-background-tertiary: #fcfcfd;
    --brand-betfair-border-default: #ffb80c;
    --brand-betfair-icon-default: #ffb80c;
    --brand-casino-text-default: #d7bc7b;
    --brand-casino-background-default: #d7bc7b;
    --brand-casino-border-default: #d7bc7b;
    --brand-casino-icon-default: #d7bc7b;
    --brand-timeform-background-default: linear-gradient(135deg, #405369 0%, #19191c 100%);
    --brand-timeform-background-gradient-start: #405369;
    --brand-timeform-background-gradient-end: #19191c;
    --brand-stats-perform-background-default: #e27229;
    --action-primary-text-default: #ffb80c;
    --action-primary-text-disabled: #e09e00;
    --action-primary-background-default: #ffb80c;
    --action-primary-background-hover: #eeac0b;
    --action-primary-background-hit: #e09e00;
    --action-primary-background-loading: #e09e00;
    --action-primary-icon-active: #ffb80c;
    --action-primary-icon-disabled: #e09e00;
    --action-primary-border-default: #ffb80c;
    --action-primary-border-secondary: #ffb60d5e;
    --action-secondary-text-default: #fcfcfd;
    --action-secondary-text-secondary: #eaeaeb;
    --action-secondary-text-disabled: #76767a;
    --action-secondary-background-default: #505053;
    --action-secondary-background-disabled: #505053;
    --action-secondary-background-hover: #444446;
    --action-secondary-background-hit: #343436;
    --action-secondary-background-hit2: #ffffff5e;
    --action-secondary-background-focus: #ffffff1a;
    --action-secondary-background-loader: #e0e0e1;
    --action-secondary-icon-default: #fcfcfd;
    --action-secondary-icon-secondary: #eaeaeb;
    --action-secondary-icon-disabled: #76767a;
    --action-secondary-border-default: #e0e0e1;
    --action-secondary-border-secondary: #b4b4b8;
    --action-secondary-border-tertiary: #76767a;
    --action-secondary-border-disabled: #505053;
    --action-tertiary-text-default: #4995ed;
    --action-tertiary-text-disabled: #3a5acf5e;
    --action-tertiary-text-destructive: #f15853;
    --action-tertiary-text-destructive-disabled: #e628325e;
    --action-tertiary-background-default: #3a5acf1a;
    --action-tertiary-background-secondary: #3a5acf5e;
    --action-tertiary-background-destructive-hover: #e628321a;
    --action-tertiary-background-destructive-hit: #e628325e;
    --action-tertiary-icon-default: #4995ed;
    --action-tertiary-icon-disabled: #3a5acf5e;
    --action-sportsbook-text-default: #0aa4bc;
    --action-sportsbook-text-secondary: #fcfcfd;
    --action-sportsbook-text-disabled: #b4b4b8;
    --action-sportsbook-background-elevation1: #007c8f1a;
    --action-sportsbook-background-elevation2: #007c8f33;
    --action-sportsbook-background-elevation3: #007c8f5e;
    --action-sportsbook-background-default: #007385;
    --action-sportsbook-background-hover: #006170;
    --action-sportsbook-background-hit: #004752;
    --action-sportsbook-background-closed: #343436;
    --action-sportsbook-background-flash: #00d7f9;
    --action-sportsbook-border-default: #007385;
    --action-sportsbook-icon-default: #0aa4bc;
    --action-sportsbook-icon-secondary: #343436;
    --action-exchange-back-text-alternative: #3073e7;
    --action-exchange-back-text-default: #fcfcfd;
    --action-exchange-back-text-disabled: #b4b4b8;
    --action-exchange-back-background-elevation1: #3a5acf1a;
    --action-exchange-back-background-elevation2: #3a5acf5e;
    --action-exchange-back-background-default: #395acf;
    --action-exchange-back-background-hover: #2d499c;
    --action-exchange-back-background-hit: #13318a;
    --action-exchange-back-background-closed: #343436;
    --action-exchange-back-background-flash: #0292ff;
    --action-exchange-back-background-secondary: #2d499c;
    --action-exchange-back-background-disabled: #d4e3ef;
    --action-exchange-back-border-default: #3073e7;
    --action-exchange-back-icon-default: #3073e7;
    --action-exchange-back-icon-secondary: #343436;
    --action-exchange-lay-text-alternative: #db2c6b;
    --action-exchange-lay-text-default: #fcfcfd;
    --action-exchange-lay-text-disabled: #b4b4b8;
    --action-exchange-lay-background-elevation1: #cf3a711a;
    --action-exchange-lay-background-elevation2: #cf3a715e;
    --action-exchange-lay-background-default: #cf396f;
    --action-exchange-lay-background-hover: #a63253;
    --action-exchange-lay-background-hit: #911739;
    --action-exchange-lay-background-closed: #343436;
    --action-exchange-lay-background-flash: #ff018e;
    --action-exchange-lay-background-secondary: #a63253;
    --action-exchange-lay-background-disabled: #ffdaee;
    --action-exchange-lay-border-default: #db2c6b;
    --action-exchange-lay-icon-default: #db2c6b;
    --action-exchange-lay-icon-secondary: #343436;
    --action-quaternary-background-on: #219824;
    --action-quaternary-background-off: #b4b4b8;
    --action-quaternary-background-off2: #444446;
    --action-quaternary-background-disabled: #343436;
    --action-quaternary-icon-readonly: #219824;
    --action-quaternary-icon-default: #fcfcfd;
    --action-quaternary-icon-disabled: #444446;
    --action-quaternary-border-disabled: #444446;
    --action-quaternary-border-off: #76767a;
    --action-boost-background-default: #343436;
    --action-boost-background-hover: #2a2a2c;
    --action-boost-background-hit: #18181a;
    --action-boost-background-closed: #343436;
    --action-boost-text-default: #b4b4b8;
    --messaging-success-text-default: #fcfcfd;
    --messaging-success-background-elevation1: #1bad1f1a;
    --messaging-success-background-elevation2: #1bad1f33;
    --messaging-success-border-default: #1bad1f;
    --messaging-success-icon-default: #67d66a;
    --messaging-warning-text-default: #fcfcfd;
    --messaging-warning-text-secondary: #fbd243;
    --messaging-warning-background-elevation1: #ffb60a1a;
    --messaging-warning-background-elevation2: #ffb60a33;
    --messaging-warning-border-default: #fbd243;
    --messaging-warning-icon-default: #f7d355;
    --messaging-error-text-default: #fcfcfd;
    --messaging-error-text-secondary: #f15853;
    --messaging-error-background-elevation1: #e628321a;
    --messaging-error-background-elevation2: #e6283233;
    --messaging-error-border-default: #f15853;
    --messaging-error-icon-default: #ff3f41;
    --messaging-info-text-default: #fcfcfd;
    --messaging-info-background-elevation1: #3a5acf1a;
    --messaging-info-background-elevation2: #3a5acf33;
    --messaging-info-border-default: #395acf;
    --messaging-info-icon-default: #4995ed;
    --messaging-safergambling-text-default: #fcfcfd;
    --messaging-safergambling-background-elevation1: #8847d11a;
    --messaging-safergambling-background-elevation2: #8847d133;
    --messaging-safergambling-border-default: #8847d1;
    --messaging-safergambling-icon-default: #b289e1;
    --messaging-neutral-background-elevation1: #ffffff1a;
    --messaging-neutral-background-elevation2: #18181a5e;
    --messaging-neutral-text-default: #18181a;
    --messaging-neutral-border-default: #18181a5e;
    --messaging-neutral-icon-default: #76767a;
    --signposting-inplay-text-default: #67d66a;
    --signposting-inplay-text-secondary: #18181a;
    --signposting-inplay-text-disabled: #1bad1f5e;
    --signposting-inplay-background-default: #67d66a;
    --signposting-inplay-border-default: #67d66a;
    --signposting-inplay-border-disabled: #1bad1f5e;
    --signposting-inplay-icon-default: #67d66a;
    --signposting-generosity-text-default: #ffb80c;
    --signposting-generosity-background-elevation1: #ffb60a1a;
    --signposting-generosity-background-default: #ffb80c;
    --signposting-generosity-background-tertiary: #343436;
    --signposting-generosity-border-default: #ffb80c;
    --signposting-generosity-icon-default: #ffb80c;
    --signposting-generosity-icon-secondary: #ffb60d5e;
    --signposting-video-archive-text-default: #fcfcfd;
    --signposting-video-archive-background-default: #ffb80c;
    --signposting-video-archive-border-default: #ffb80c;
    --signposting-video-archive-icon-default: #fcfcfd;
    --signposting-video-live-text-default: #fcfcfd;
    --signposting-video-live-background-default: #1bad1f;
    --signposting-video-live-border-default: #1bad1f;
    --signposting-video-live-icon-default: #fcfcfd;
    --signposting-notifications-text-active: #ffb80c;
    --signposting-notifications-text-default: #fcfcfd;
    --signposting-notifications-text-secondary: #18181a;
    --signposting-notifications-icon-active: #ffb80c;
    --signposting-notifications-icon-default: #fcfcfd;
    --signposting-notifications-icon-disabled: #76767a;
    --signposting-notifications-background-default: #ffb80c;
    --signposting-notifications-background-elevation1: #ffb60a33;
    --signposting-pnl-text-profit: #3ec141;
    --signposting-pnl-text-loss: #f15853;
    --signposting-pnl-text-default: #fcfcfd;
    --signposting-pnl-text-neutral: #76767a;
    --signposting-pnl-icon-default: #fcfcfd;
    --signposting-pnl-background-profit: #3ec141;
    --signposting-pnl-background-profit2: #1bad1f33;
    --signposting-pnl-background-loss: #f15853;
    --signposting-pnl-background-loss2: #e6283233;
    --signposting-pnl-background-neutral: #d0d0d2;
    --signposting-pnl-background-neutral2: #ffffff1a;
    --signposting-indicators-counter-text-default: #fcfcfd;
    --signposting-indicators-counter-background-default: #76767a;
    --signposting-indicators-counter-background-secondary: #232325;
    --signposting-indicators-lolipop-border-active: #e62931;
    --signposting-indicators-lolipop-border-disabled: #9f1313;
    --signposting-indicators-lolipop-background-active: #fcfcfd;
    --signposting-indicators-lolipop-background-active-leg: #fcfcfd;
    --signposting-indicators-lolipop-background-disabled: #76767a;
    --signposting-indicators-rich-content-icon-neutral: #e0e0e1;
    --signposting-indicators-rich-content-icon-neutral2: #444446;
    --signposting-indicators-rich-content-icon-negative: #d92027;
    --signposting-indicators-rich-content-icon-negative2: #9f1313;
    --signposting-indicators-rich-content-icon-warning: #ffb80c;
    --signposting-indicators-rich-content-icon-warning2: #e09e00;
    --signposting-indicators-rich-content-icon-positive: #219824;
    --signposting-indicators-rich-content-icon-home-team: #3073e7;
    --signposting-indicators-rich-content-icon-away-team: #e27229;
    --signposting-paused-text-default: #fee99c;
    --signposting-paused-text-secondary: #18181a;
    --signposting-paused-background-default: #fee99c;
    --signposting-paused-icon-default: #fee99c;
    --signposting-info-label-text: #ffb80c;
    --signposting-info-label-background: #ffb60a1a;
    --agnostic-signposting-pnl-text-profit: #1d6f1d;
    --agnostic-signposting-pnl-text-loss: #d92027;
    --agnostic-signposting-pnl-background-profit: #3ec141;
    --agnostic-signposting-pnl-background-loss: #f15853;
    --agnostic-signposting-notifications-icon-default: #18181a;
    --agnostic-signposting-notifications-icon-alternative: #fcfcfd;
    --agnostic-signposting-notifications-icon-active: #ffb80c;
    --agnostic-signposting-notifications-text-default: #18181a;
    --agnostic-signposting-notifications-background-default: #ffb80c;
    --agnostic-signposting-generosity-text-default: #ffb80c;
    --agnostic-signposting-generosity-background-elevation1: #ffb60a1a;
    --agnostic-signposting-generosity-background-default: #ffb80c;
    --agnostic-signposting-generosity-background-tertiary: #343436;
    --agnostic-signposting-generosity-border-default: #ffb80c;
    --agnostic-signposting-generosity-icon-default: #ffb80c;
    --agnostic-neutrals-text-default: #18181a;
    --agnostic-neutrals-text-secondary: #444446;
    --agnostic-neutrals-text-disabled: #b4b4b8;
    --agnostic-neutrals-text-alternative: #fcfcfd;
    --agnostic-neutrals-background-transparency1: #ffffff1a;
    --agnostic-neutrals-background-transparency2: #ffffff33;
    --agnostic-neutrals-background-transparency3: #ffffff5e;
    --agnostic-neutrals-background-elevation1: #fcfcfd;
    --agnostic-neutrals-background-elevation2: #f2f2f3;
    --agnostic-neutrals-background-elevation3: #eaeaeb;
    --agnostic-neutrals-background-alternative: #232325;
    --agnostic-neutrals-icon-default: #18181a;
    --agnostic-neutrals-icon-secondary: #444446;
    --agnostic-neutrals-icon-disabled: #b4b4b8;
    --agnostic-neutrals-icon-alternative: #fcfcfd;
    --agnostic-neutrals-border-default: #18181a;
    --agnostic-neutrals-border-secondary: #444446;
    --agnostic-neutrals-border-tertiary: #76767a;
    --agnostic-neutrals-border-disabled: #f2f2f3;
    --agnostic-neutrals-border-elevation5: #fcfcfd;
    --agnostic-action-primary-text-default: #ffb80c;
    --agnostic-action-primary-text-disabled: #18181a5e;
    --agnostic-action-primary-background-default: #ffb80c;
    --agnostic-action-primary-background-hit: #e09e00;
    --agnostic-action-primary-background-loading: #e09e00;
    --agnostic-action-primary-border-default: #ffb80c;
    --agnostic-action-primary-border-secondary: #ffb60d5e;
    --agnostic-action-primary-icon-default: #ffb80c;
    --agnostic-action-primary-icon-disabled: #e09e00;
    --agnostic-action-tertiary-text-default: #2d499c;
    --agnostic-action-tertiary-text-disabled: #3a5acf5e;
    --agnostic-action-tertiary-text-destructive: #d92027;
    --agnostic-action-tertiary-text-destructive-disabled: #e628325e;
    --agnostic-action-tertiary-text-alternative: #4995ed;
    --agnostic-action-tertiary-icon-default: #2d499c;
    --agnostic-action-tertiary-icon-disabled: #3a5acf5e;
    --agnostic-action-tertiary-background-elevation3: #3a5acf5e;
    --agnostic-action-tertiary-background-default: #3a5acf1a;
    --agnostic-action-quaternary-background-on: #219824;
    --agnostic-action-quaternary-background-off: #444446;
    --agnostic-action-quaternary-background-off2: #c3e4c1;
    --agnostic-action-quaternary-background-disabled: #b4b4b8;
    --agnostic-action-quaternary-icon-readonly: #219824;
    --agnostic-action-quaternary-icon-default: #fcfcfd;
    --agnostic-action-quaternary-icon-disabled: #b4b4b8;
    --agnostic-action-quaternary-border-disabled: #b4b4b8;
    --agnostic-action-secondary-text-default: #18181a;
    --agnostic-action-secondary-text-secondary: #b4b4b8;
    --agnostic-action-secondary-background-default: #fcfcfd;
    --agnostic-action-secondary-background-disabled: #f2f2f3;
    --agnostic-action-secondary-background-hit: #e0e0e1;
    --agnostic-action-secondary-background-loader: #18181a;
    --agnostic-action-secondary-background-elevation4: #b4b4b8;
    --agnostic-action-secondary-border-default: #18181a;
    --agnostic-action-secondary-border-secondary: #b4b4b8;
    --agnostic-action-secondary-border-tertiary: #f2f2f3;
    --agnostic-action-secondary-icon-default: #18181a;
    --agnostic-action-secondary-icon-secondary: #b4b4b8;
    --agnostic-messaging-success-text-default: #18181a;
    --agnostic-messaging-success-background-elevation1: #ebf8ea;
    --agnostic-messaging-success-icon-default: #219824;
    --agnostic-messaging-success-border-default: #1bad1f;
    --agnostic-messaging-warning-text-default: #18181a;
    --agnostic-messaging-warning-text-secondary: #e09e00;
    --agnostic-messaging-warning-background-elevation1: #fff9e2;
    --agnostic-messaging-warning-background-transparency1: #ffb60a1a;
    --agnostic-messaging-warning-icon-default: #ffb80c;
    --agnostic-messaging-error-text-default: #18181a;
    --agnostic-messaging-error-text-secondary: #9f1313;
    --agnostic-messaging-error-background-elevation1: #ffebef;
    --agnostic-messaging-error-background-transparency1: #e628321a;
    --agnostic-messaging-error-icon-default: #ff3f41;
    --agnostic-messaging-error-border-default: #f15853;
    --components-navigation-header-text-default: #ffb80c;
    --components-navigation-header-text-secondary: #fcfcfd;
    --components-navigation-header-background-default: #18181a;
    --components-navigation-header-background-secondary: #ffffff1a;
    --components-navigation-header-icon-default: #ffb80c;
    --components-navigation-header-icon-secondary: #fcfcfd;
    --components-navigation-bottombar-text-default: #ffb80c;
    --components-navigation-bottombar-text-secondary: #b4b4b8;
    --components-navigation-bottombar-background-default: #18181a;
    --components-navigation-bottombar-icon-default: #ffb80c;
    --components-navigation-bottombar-icon-secondary: #b4b4b8;
    --components-navigation-bottombar-border-default: #343436;
    --components-navigation-tabs-text-active: #ffb80c;
    --components-navigation-tabs-text-unselected: #b4b4b8;
    --components-navigation-tabs-text-elapsed: #76767a;
    --components-navigation-tabs-text-available: #fcfcfd;
    --components-navigation-tabs-background-active: #ffb80c;
    --components-navigation-tabs-background-elevation1: linear-gradient(0deg, #0f0f10 0%, #18181a 100%);
    --components-navigation-tabs-background-elevation2: linear-gradient(0deg, #18181a 0%, #232325 100%);
    --components-navigation-tabs-background-mask: #18181a00;
    --components-navigation-tabs-background-inplay: #67d66a;
    --components-navigation-tabs-background-gradient-100-start: #18181a;
    --components-navigation-tabs-background-gradient-100-end: #232325;
    --components-navigation-tabs-background-gradient-110-start: #0f0f10;
    --components-navigation-tabs-background-gradient-110-end: #18181a;
    --components-navigation-tabs-icon-inplay: #67d66a;
    --components-navigation-tabs-icon-unselected: #b4b4b8;
    --components-navigation-tabs-icon-generosity-active: #ffb80c;
    --components-navigation-tabs-icon-generosity-inactive: #ffb60d5e;
    --components-navigation-tabs-border-active: #ffb80c;
    --components-navigation-tabs-border-hover: #d0d0d2;
    --components-navigation-footer-background-elevation2: #18181a;
    --components-action-pebbles-text-active: #ffb80c;
    --components-action-pebbles-text-unselected: #eaeaeb;
    --components-action-pebbles-background-default: #18181800;
    --components-action-pebbles-border-active: #ffb60d5e;
    --components-action-pebbles-border-unselected: #76767a;
    --components-action-pebbles-icon-active: #ffb80c;
    --components-action-pebbles-icon-unselected: #eaeaeb;
    --components-action-text-toggle-text-active: #ffb80c;
    --components-action-text-toggle-text-unselected: #fcfcfd;
    --components-action-text-toggle-background-default: #18181a00;
    --components-action-text-toggle-background-pebble: #444446;
    --components-action-text-toggle-border-default: #343436;
    --components-inputs-search-text-default: #b4b4b8;
    --components-inputs-search-background-default: #2a2a2c;
    --components-inputs-search-border-active: #ffb80c;
    --components-inputs-search-icon-default: #b4b4b8;
    --components-neutrals-bottomsheet-background-elevation1: #343436;
    --components-neutrals-bottomsheet-background-elevation2: #444446;
    --components-neutrals-overlay-background: #0f0f0ae6;
    --components-assets-hr-silks-background-shadow: #ffffff5e;
    --components-promotions-background-casino-t-cs: #181818b3;
    --components-promotions-background-diagonal: linear-gradient(135deg, #18181a 0%, #17171700 100%);
    --components-promotions-background-bottom: linear-gradient(0deg, #18181a 0%, #17171700 100%);
    --components-promotions-background-gradient-start: #18181a;
    --components-promotions-background-gradient-end: #17171700;
    --components-signposting-budget-stats-background-default: linear-gradient(90deg, #3ec141 0%, #e62931 100%);
    --components-signposting-budget-stats-background-gradient-start: #3ec141;
    --components-signposting-budget-stats-background-gradient-end: #e62931;
    --components-indicators-label-background-default: #18181a00;
    --components-toast-background-default: #505053;
    --casino-roulette-background-default: #2a2a2c;
    --casino-roulette-background-red-pocket: #e62931;
    --casino-roulette-background-black-pocket: #18181a;
    --casino-roulette-background-green-pocket: #219824;
    --casino-roulette-text-default: #fcfcfd;
    --casino-jackpot-background-default: #e62931;
    --casino-jackpot-background-secondary: #2a2a2c;
    --casino-jackpot-background-shadow: #18181a1a;
    --casino-jackpot-background-gradient: linear-gradient(
      90deg,
      #17171700 0%,
      #18181a33 15%,
      #17171700 30%,
      #17171700 70%,
      #18181a33 80%,
      #17171700 100%
    );
    --casino-jackpot-background-gradient2: linear-gradient(0deg, #18181a 0%, #17171700 50%);
    --casino-jackpot-text-default: #fcfcfd;
    --casino-jackpot-border-default: #e62931;
    --casino-games-background-gradient: linear-gradient(0deg, #18181a 0%, #17171700 50%);
    --casino-games-background-play-new: linear-gradient(15deg, #836724 0%, #d7bc7b 40%, #f2daa1 100%);
    --casino-blackjack-text-available: #67d66a;
    --casino-blackjack-text-betlimits: #d7bc7b;
    --casino-blackjack-background-default: #2a2a2c;
    --casino-styw-background-default: linear-gradient(0deg, #18181a 0%, #343436 100%);
    --casino-styw-border-primary: #fee99c;
    --casino-styw-border-secondary: #eeac0b;
    --opacity-weak: 0.001;
    --opacity-medium: 0.0037;
    --opacity-strong: 0.005;
    --drop-shadow-small: drop-shadow(0px 0px 4px #18181a1a);
    --drop-shadow-extra-small: drop-shadow(0px 0px 1px #ffffff5e);
    --drop-shadow-extra-large: drop-shadow(0px 8px 16px #18181a5e);
    --drop-shadow-large: drop-shadow(0px -4px 4px #18181a5e);
    --drop-shadow-medium: drop-shadow(0px 4px 4px #18181a1a);
    --drop-shadow-linear: drop-shadow(1px 1px 0px #18181a5e);
    --drop-shadow-none: drop-shadow(0px 0px 0px #ffffffff);
  }
}