@import "variables/spacing";

@import "mixins/include_media";
@import "mixins/type_scale";

@import "base/reset";
@import "base/code";
@import "base/fonts";
@import "base/global";
@import "base/typography";
@import "base/media";

@import "component/accordion";
@import "component/button_group";
@import "component/price_button";
@import "component/menu_list";
@import "component/market_navigation";
@import "component/card";
@import "component/market_card";
@import "component/entry_summary";
@import "component/most_read";
@import "component/card_grid";
@import "component/swimlane";

.theme_toggle {
  padding: 1rem;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    padding: 0.75rem 1rem;
    background-color: var(--neutrals-text-default);
    border: 1px solid var(--neutrals-text-default);
    color: var(--neutrals-background-elevation2, #FCFCFD);
    border-radius: 4px;
    @include typography-h180;
    transition: ease 0.5s all;
  }

  button:hover,
  button:focus {
    outline: none;
    background-color: var(--neutrals-background-elevation1);
    color: var(--neutrals-text-default);
  }

}

// Doc Layout Styles

.doc_layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-width: 600px;
  margin-inline: auto;
  padding: 3rem;
  gap: 3rem;

  @include media('>920px') {
    grid-template-columns: 200px 3fr;
    max-width: 960px;
    margin-inline: auto;
  }

}

.doc_layout__header {
  background-color: var(--neutrals-background-elevation1);  

  nav {
    margin-top: 0.5rem;
  }

}

.doc_layout__main {

}

.component_content {
  max-width: 600px;
  margin-inline: auto;
}
