@import "variables/spacing";

@import "mixins/include_media";
@import "mixins/type_scale";

@import "base/reset";
@import "base/code";
@import "base/fonts";
@import "base/global";
@import "base/typography";
@import "base/media";
@import "base/tables";

@import "component/accordion";
@import "component/bottom_sheet";
@import "component/button_group";
@import "component/buttons";
@import "component/inline_odds";
@import "component/price_button";
@import "component/menu_list";
@import "component/tab_navigation";
@import "component/secondary_tab_navigation";
@import "component/market_navigation";
@import "component/breadcrumb_navigation";
@import "component/race_navigation";
@import "component/quick_links";
@import "component/share_options";
@import "component/social_channels";
@import "component/pebble";
@import "component/card";
@import "component/author_card";
@import "component/promo_banner";
@import "component/notification";
@import "component/ticker";
@import "component/text_advert";
@import "component/status_labels";
@import "component/stat_card";
@import "component/graph_card";
@import "component/article_card";
@import "component/article_header";
@import "component/article_featured_image";
@import "component/article_summary";
@import "component/betting_copy";
@import "component/market_card";
@import "component/platform_toggle";
@import "component/entry_summary";
@import "component/embed_summary";
@import "component/most_read";
@import "component/featured_runner";
@import "component/head_to_head";
@import "component/match_result";
@import "component/match_preview";
@import "component/stat_chip";
@import "component/team_form";
@import "component/stat_table";
@import "component/golf_form_table";
@import "component/league_table";
@import "component/league_record";
@import "component/truncated_table";
@import "component/recommended_bet";
@import "component/runner_form_table";
@import "component/race_result";
@import "component/fast_result";
@import "component/search_form";
@import "component/podcast_embed";
@import "component/odds_converter";
@import "component/laybet_calculator";
@import "component/card_grid";
@import "component/swimlane";
@import "component/web_adverts";
@import "component/banner";
@import "component/player_chip";
@import "component/acca";
@import "component/market_movers";
@import "component/author_prediction";


.theme_toggle {
  padding: 1rem;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    padding: 0.75rem 1rem;
    background-color: var(--neutrals-text-default);
    border: 1px solid var(--neutrals-text-default);
    color: var(--neutrals-background-elevation2, #FCFCFD);
    border-radius: 4px;
    @include typography-h180;
    transition: ease 0.5s all;
  }

  button:hover,
  button:focus {
    outline: none;
    background-color: var(--neutrals-background-elevation1);
    color: var(--neutrals-text-default);
  }

}

// Doc Layout Styles

.doc_header {
  background-color: var(--components-navigation-header-background-default, #FFB80C);
  padding: 0.5rem 0.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100%;
}

.doc_header__menu_toggle {
  cursor: pointer;

  @include media('>920px') {
    display: none;
  }

}

.doc_header__menu_toggle.active {
  position: relative;

  svg {
    fill: none;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 1rem;
    height: 0.125rem;
    border-radius: 2px;
    background-color: var(--neutrals-text-default);
  }

  &:after {
    content: '';
    transform: translate(-50%, -50%) rotate(-45deg);
  }

}

.doc_layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-width: 37.5rem;
  margin-inline: auto;
  margin-block-start: 3.75rem;
  padding: 0.75rem;
  gap: 2rem;

  @include media('>920px') {
    grid-template-columns: 15rem minmax(0, 1fr);
    max-width: 60rem;
    margin-inline: auto;
    padding: 4rem;
    gap: 4rem;
  }

}

.doc_layout__nav {
  transition: ease 0.5s left;
  z-index: 99999;

  @include media('<920px') {
    position: fixed;
    top: 3.75rem;
    left: -100%;
    padding: 1rem;
    background-color: var(--neutrals-background-elevation1);
    border-bottom: 2px solid var(--neutrals-background-elevation3);
    width: 100%;
    height: calc(100vh - 3.75rem);
    overflow-y: auto;
  }

}

.doc_layout__nav--show {
  left: 0;
}