.accordion {
  background-color: var(--neutrals-background-elevation2);
  margin-block-start: 1rem;
  border-radius: 4px;
  overflow: clip;

  &:first-child {
    margin-block-start: 0;
  }

}

.accordion__title {
  cursor: pointer;
  background-color: var(--neutrals-background-elevation2);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  h2, h3, h4 {
    margin: 0;
    @include typography-h280;
  }

}

.accordion__content {
  display: none;
  background: var(--neutrals-background-elevation3, #EAEAEB);
}

.accordion--show {

  .accordion__title svg:last-child {
    transform: rotate(180deg);
  }

  .accordion__content {
    display: block;
  }

}