.card {
  margin-block-start: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background: var(--neutrals-background-elevation2, #FCFCFD);

  &:first-child {
    margin-block-start: 0;
  }

}

.card--stack {

  & > * {
    margin-block-start: 0.5rem;
    padding-block-start: 0.5rem;
    border-top: 1px solid var(--neutrals-border-elevation2, #D0D0D2);
  }

  & > :first-child {
    margin-block-start: 0;
    padding-block-start: 0;
    border-top: 0;
  }

}