.embed_summary {
  position: relative;
  margin-block-start: 0.75rem;
  border-radius: 4px;
  background: var(--neutrals-background-elevation2, #FCFCFD);
  overflow: clip;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-block-start: 0;
  }

}

.embed_summary__actions {
  padding: 0.5rem;
  display: flex;
  justify-content: end;

  .button_group {
    width: 100%;
    justify-content: space-between;
  }

}