.featured_runner {
  display: grid;
  grid-template-columns: 1.5rem 2rem minmax(0, 1fr) auto;
  gap: 0.25rem;
  margin-block-start: 0.5rem;
  padding-block-start: 0.5rem;
  border-top: 1px solid var(--neutrals-border-elevation2, #D0D0D2);

  &:first-child {
    margin-block-start: 0;
    padding-block-start: 0;
    border-top: 0;
  }

}

.featured_runner__number {
  text-align: center;

  .number {
    @include typography-h158;
  }

  .position {
    @include typography-h120;
  }

  .toggle {
    cursor: pointer;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin-inline: auto;
    transition: 200ms ease all;
  }

}

.featured_runner__silks {

}

.featured_runner__details {

  .name {
    margin: 0;
    color: var(--neutrals-text-default, #18181A);
    @include typography-h156;
  }

  .team {
    list-style-type: none;
    margin: 0;
  }

  .team li {
    margin: 0;
    color: var(--neutrals-text-secondary, #444446);
    @include typography-h120;
  }

  abbr {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
  
}


.featured_runner__price {
  margin-left: auto;
  align-self: center;
}

.featured_runner__more {
  //display: none;
  height: 0;
  overflow: hidden;
  opacity: 0;
  grid-column: span 4;
  transition: 500ms ease all;

  .runner_more {
    border-top: 1px solid var(--neutrals-border-elevation2, #D0D0D2);
    padding-block-start: 0.5rem;
    padding-inline: 0.25rem;
  }

  dl {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  dt {
    @include typography-h098;
    color: var(--neutrals-text-secondary, #444446);
  }

  dd {
    @include typography-h120;
    padding-right: 2.5rem;
    color: var(--neutrals-text-default, #18181A);
  }

  p {
    @include typography-h120;
    color: var(--neutrals-text-default, #18181A);
    margin-block-start: 0.5rem;
  }

}



.featured_runner--expand {

  .featured_runner__more {
    //display: block;
    height: auto;
    opacity: 1;
  }

  .toggle {
    transform: rotate(180deg);
  }

}