.market_movers {
  --movers-grid: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  grid-template-columns: var(--movers-grid);
  background-color: var(--neutrals-background-elevation5);
  gap: 1px;
  margin-block-start: 1rem;
  border-radius: 4px;
  overflow: clip;

  &:first-child {
    margin-block-start: 0;
  }

}

.market_mover {
  background-color: var(--neutrals-background-elevation2);
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .button_group {
    margin: 0;
    margin-inline-start: auto;
    flex-shrink: 0;
  }

}

.market_mover__description {

  h2, h3, h4 {
    @include typography-h320;
  }

  p {
    margin-block-start: 0.25rem;
    @include typography-h220;
    color: var(--neutrals-text-secondary);
  }

}