@use "mixins/type_scale";

.match_preview_date {
  margin-block-start: 0.5rem;
  @include type_scale.typography-h088;
  color: var(--neutrals-text-default, #18181A);
  text-align: center;

  &:first-child {
    margin-block-start: 0;
  }

}

.match_preview {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 2rem 1fr;
  align-items: center;
}

@container stat_card (max-width: 260px) {
  .match_preview {
    grid-template-columns: 1fr;
  }
}

.match_preview__home_team,
.match_preview__away_team,
.match_preview__away_versus {
  color: var(--neutrals-text-default, #18181A);
  @include type_scale.typography-h152;

  .kit {
    display: block;
    margin-inline: auto;
    margin-block-end: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid var(--neutrals-text-default, #18181A);
    background: linear-gradient(90deg, var(--kit-colour-1) 0%, var(--kit-colour-1) 50%, var(--kit-colour-2) 50%, var(--kit-colour-2) 92%);
  }

  .percentage {
    display: block;
    @include type_scale.typography-h420;
  }

}

.match_preview__home_team {
  text-align: right;
}

.match_preview__away_versus {
  text-align: center;
}

@container stat_card (max-width: 260px) {
  .match_preview__home_team,
  .match_preview__away_team,
  .match_preview__away_versus {
    text-align: center;
  }

}

.match_preview__home_team:has(.kit),
.match_preview__away_team:has(.kit) {
  text-align: center;
}

a.match_preview__home_team,
a.match_preview__away_team,
a.match_preview__away_versus {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.25rem;
  border: 1px solid var(--neutrals-border-elevation1);
  border-radius: 4px;
  
  &:hover {
    border-color: var(--action-primary-border-default);
  }

}

a.match_preview__favourite {
  background-color: var(--neutrals-background-elevation3);
  @include type_scale.typography-h182;

  .percentage {
    @include type_scale.typography-h480;
  }

}