.match_preview_date {
  margin-block-start: 0.5rem;
  @include typography-h088;
  color: var(--neutrals-text-default, #18181A);
  text-align: center;

  &:first-child {
    margin-block-start: 0;
  }

}

.match_preview {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 2rem 1fr;
}

@container stat_card (max-width: 260px) {
  .match_preview {
    grid-template-columns: 1fr;
  }
}

.match_preview__home_team,
.match_preview__away_team,
.match_preview__away_versus {
  color: var(--neutrals-text-default, #18181A);
  @include typography-h152;
}

.match_preview__home_team {
  text-align: right;
}

.match_preview__away_versus {
  text-align: center;
}

@container stat_card (max-width: 260px) {
  .match_preview__home_team,
  .match_preview__away_team,
  .match_preview__away_versus {
    text-align: center;
  }

}