.price_button {
  display: block;
  border-radius: 4px;
  background-color: var(--action-sportsbook-background-default, #007385);
  display: flex;
  height: 48px;
  min-width: 48px;
  padding: 0 0.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--action-sportsbook-text-secondary, #FCFCFD);
  @include typography-h280;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--action-sportsbook-text-secondary, #FCFCFD);
    background-color: var(--action-sportsbook-background-hover, #006170);
  }

}

.price_button__label {
  display: block;
  @include typography-h082;
  color: var(--action-sportsbook-text-secondary, #FCFCFD);
}

.price_button--exc {
  background-color: var(--action-exchange-back-background-default, #395ACF);

  &:hover,
  &:focus {
    color: var(--action-sportsbook-text-secondary, #FCFCFD);
    background-color: var(--action-exchange-back-background-hover, #2d499c);
  }

}

.price_button--exc-lay {
  background-color: var(--action-exchange-lay-background-default, #cf396f);

  &:hover,
  &:focus {
    color: var(--action-sportsbook-text-secondary, #FCFCFD);
    background-color: var(--action-exchange-lay-background-hover, #a63253);
  }

}