.share_options {
  margin-block-start: 1rem;
  list-style-type: none;
  margin: 0;
  margin-block-start: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  &:first-child {
    margin-block-start: 0;
  }

  li {
    margin: 0;
  }

  a {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
    background-color: var(--agnostic-neutrals-icon-default, #18181A);
  }

  a svg {
    width: 100%;
    height: 100%;
    fill: var(--agnostic-neutrals-icon-alternative, #FCFCFD);
  }

  a:hover svg {
    fill: var(--agnostic-action-primary-text-default, #ffb80c);
  }

}