.status_labels {
  margin-block-start: 1rem;
  list-style-type: none;
  margin: 0;
  margin-block-start: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  &:first-child {
    margin-block-start: 0;
  }

  li {
    margin: 0;
  }

}

.status_label {
  display: inline-block;
  @include typography-h078;
  border: 1px solid var(--signposting-generosity-background-default);
  background-color: var(--signposting-generosity-background-default);
  color: var(--agnostic-neutrals-text-default);
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
  text-decoration: none;
}

a.status_label {

  &:hover,
  &:focus {
    color: var(--agnostic-neutrals-text-default);
    text-decoration: underline;
  }

}
