.swimlane {
  margin-block-start: 0.75rem;

  &:first-child {
    margin-block-start: 0;
  }

  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  gap: 0.75rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 0.75rem;

  @include media('>tablet') {
    grid-auto-columns: 390px;
  }

  & > * {
    margin: 0;
    scroll-snap-align: center;
  }

}

.swimlane--narrow {

  @include media('>tablet') {
    grid-auto-columns: 290px;
  }

}